#output_content{ style: 'height: 100vh; padding-bottom: 22em;' }
  .row
    .col-sm-3
      = link_to "Ordine per dotazione personale", output_path(:Person), remote: true, class: 'btn btn-primary'
    .col-sm-2
      -# = link_to "Ordine per ODS", output_path(:Worksheet,:id), remote: true, class: 'btn btn-primary'
      %b= "Ordine per ODS"
      = form_tag(edit_output_path(Worksheet), method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
        = hidden_field_tag :destination, :Worksheet
        .row
          .col-sm-10
            = text_field_tag :recipient, nil, class: 'form-control', :placeholder => 'Codice..'
    .col-sm-2
      = link_to "Ordine per minuteria", output_path(:Office), remote: true, class: 'btn btn-primary'
    .col-sm-2
      = link_to "Ordine per dotazione mezzo", output_path(:Vehicle), remote: true, class: 'btn btn-primary'
  .row
    .col-sm-12
      %br
      #output_orders_list
        = render :partial => 'storage/output_orders_list'
