%center{ style: 'width: 85em;'}
  %b='Nuovo modello mezzi: '
  %br
  %br

= form_tag(:vehicle_models, method: :post, remote: true) do |f|
  = hidden_field_tag :search, @search
  .contaner
    .row.no-margin
      .col-sm-6
        %b='Nome modello'
        = text_field_tag 'vehicle_model[name]', nil, class: 'form-control'
      .col-sm-6
        %b='Produttore'
        = text_field_tag 'vehicle_model[manufacturer]', nil, placeholder: 'Cerca produttore..', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_manufacturers_autocomplete_path, target: 'VehicleModel' }
        = hidden_field_tag 'vehicle_model[manufacturer_id]', nil, data: { target: 'VehicleModel' }, class: 'autocomplete-field ac-VehicleModel-manufacturer'
    .row-no-margin
      .col-sm-12
        = text_field_tag 'vehicle_model[description]', nil, class: 'form-control', placeholder: 'Descrizione..'
    .row.no-margin
      .col-sm-12
        %br

    .row.no-margin
      .col-sm-3
        %b='Tipi possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_models/types_list'
      .col-sm-3
        %b='Tipologie possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_models/typologies_list'
      .col-sm-3
        %b='Informazioni possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_models/informations_list'
      .col-sm-3
        %b='Attrezzature possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_models/equipment_list'
    .row.no-margins
      .col-sm-3
        %br
        %br
        %br
        = submit_tag 'Aggiorna', class: 'btn inline'

:javascript

  activateCustomAutocomplete(function(element){
    return $(element).data();
  });
