%center
  %b='Modifica modello mezzi: '+@vehicle_model.name
  %br
  %br

= form_tag(update_vehicle_model_path, method: :post, remote: true) do |f|
  = hidden_field_tag :search, @search
  .contaner
    .row.no-margin
      .col-sm-6
        %b='Nome modello'
        = hidden_field_tag :id, @vehicle_model.id
        = text_field_tag 'vehicle_model[name]', @vehicle_model.name, class: 'form-control'
      .col-sm-6
        %b='Produttore'
        = text_field_tag 'vehicle_model[manufacturer]', @vehicle_model.manufacturer.name, placeholder: 'Cerca produttore..', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_manufacturers_autocomplete_path, target: 'VehicleModel' }
        = hidden_field_tag 'VehicleModel[manufacturer_id]', @vehicle_model.manufacturer.id, data: { target: 'VehicleModel' }, class: 'autocomplete-field ac-VehicleModel-manufacturer'
    .row-no-margin
      .col-sm-12
        = text_field_tag 'vehicle_model[description]', @vehicle_model.description, class: 'form-control', placeholder: 'Descrizione..'
    .row.no-margin
      .col-sm-12
        %br

    .row.no-margin
      .col-sm-6
        %b='Tipi possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_models/types_list'
      .col-sm-6
        %b='Tipologie possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_models/typologies_list'
      -# .col-sm-3
      -#   %b='Informazioni possibili:'
      -#   .scrollable-panel.container-fluid
      -#     = render :partial => 'vehicle_models/informations_list'
      -# .col-sm-3
      -#   %b='Attrezzature possibili:'
      -#   .scrollable-panel.container-fluid
      -#     = render :partial => 'vehicle_models/equipment_list'
    .row.no-margins
      .col-sm-3
        %br
        %br
        %br
        = submit_tag 'Aggiorna', class: 'btn inline'

:javascript

  // activateClose();
  activateCustomAutocomplete(function(element){
    return $(element).data();
  });
