.container-fluid{style: 'margin-top: 2em;'}
  .row
    = form_tag(worksheet_ow_filter_path, method: :post, remote: true, type: :script, class: 'preventCr', :id => :filter) do |f|
      .col-sm-1
        Aperte
        = check_box_tag 'search[opened]', 1, @search[:opened]
      .col-sm-1
        Chiuse
        = check_box_tag 'search[closed]',  1, @search[:closed]
      .col-sm-2
        = text_field_tag 'search[plate]', @search[:plate],  class: 'form-control', placeholder: 'Targa..'
      .col-sm-1
        = text_field_tag 'search[number]', @search[:number], class: 'form-control', placeholder: 'ODL..'
      .col-sm-2
        = select_tag 'search[workshop]', options_for_select(EurowinController::get_external_workshops.map{|o| [o['RagioneSociale'],o['Codice']]},@search[:workshop]), include_blank: 'Officina..', class: 'form-control'
      .col-sm-2
        Dal
        = date_field_tag 'search[date_since]', @search[:date_since]
      .col-sm-2
        Al
        = date_field_tag 'search[date_to]', @search[:date_to]
      .col-sm-1
        = submit_tag 'Filtra', class: 'form-control'
  #worksheet_complete_list
    =render :partial => 'worksheets/other_workshops_list'


:javascript

  deactivateLoadingScreen();
