.row
  .col-sm-1
    %b= "Trovati: #{@worksheets.size > 99 ? '99+' : @worksheets.size}"
  .col-sm-1
    %b='Nr. scheda'
  .col-sm-1
    %b='Targa'
  .col-sm-1
    %b='Data ingr.'
  .col-sm-1
    %b='Chiusura'
  .col-sm-2
    %b='Ore'
  .col-sm-1
  .col-sm-1
  .col-sm-1
  .col-sm-1

.row
  .col-sm-12
    .scrollable-panel
      - @worksheets.each do |ws|
        .row.colored.hilight{style: "#{ws['FlagSchedaChiusa'].downcase == 'true' ? '' : "font-weight: bolder"}"}
          .col-sm-1
            = ws['Protocollo']
          .col-sm-1
            = ws['Targa']
          .col-sm-1
            = ws['DataEntrataVeicolo']
          .col-sm-1
            = ws['PrevisioneUscitaVeicolo']
          .col-sm-3
            = ws['officina']
          .col-sm-5
            = "#{ws['TipoDanno']} - #{ws['Note']}"
            -# = button_to 'PDF', worksheet_get_pdf_path(ws.id,format: :pdf), class: 'no-loader'
          .col-sm-1
            -# = button_to 'Conteggio', worksheet_print_pdf_path(ws.id,format: :pdf), class: 'no-loader'
