.row
  .col-sm-1
    %b= "#{@worksheets.size} ODL"
  .col-sm-1
    %b='Targa'
  .col-sm-1
    %b='Data int.'
  .col-sm-1
    %b='Chiusura'
  .col-sm-3
    %b='Officina'
  .col-sm-5
    %b='Descrizione'
  .col-sm-1

.row
  .col-sm-12
    .scrollable-panel
      - @worksheets.each do |ws|
        .row.colored.hilight{style: "#{ws['FlagSchedaChiusa'].downcase == 'true' ? '' : "font-weight: bolder"}"}
          .col-sm-1
            = "Nr. #{ws['Protocollo']}"
          .col-sm-1
            = ws['Targa']
          .col-sm-1
            = ws['DataIntervento'].strftime("%d/%m/%Y") unless ws['DataIntervento'].nil?
          .col-sm-1
            = ws['DataUscitaVeicolo'].strftime("%d/%m/%Y") unless ws['DataUscitaVeicolo'].nil?
          .col-sm-3
            = ws['officina']
          .col-sm-5
            = "#{ws['TipoDanno']} - #{ws['Note']}"
            -# = button_to 'PDF', worksheet_get_pdf_path(ws.id,format: :pdf), class: 'no-loader'
          .col-sm-1
            -# = button_to 'Conteggio', worksheet_print_pdf_path(ws.id,format: :pdf), class: 'no-loader'
