
- if Article.incompleteItems.empty?
  = "Non ci sono articoli incompleti"
- else
  .row
    .col-sm-1
      %b= 'Elimina'
    .col-sm-2
      %b= 'Produttore'
    .col-sm-3
      %b= 'Nome'
    .col-sm-2
      %b= 'Codice a barre'
    .col-sm-1
      %b= 'Disp.'
    .col-sm-1
      %b= 'Riserva minima'
    .col-sm-2
      %b= 'Categorie'
.container-fluid.scrollable-panel
  - Article.incompleteItems.each do |a|
    =render :partial => 'articles/incomplete_article_block', :locals => { :article => a }
