.container-fluid
  .row-fluid
    .col-sm-2
      = link_to article.barcode, edit_article_path(article.id), :remote => true
    .col-sm-3
      = link_to article.name, edit_article_path(article.id), :remote => true
    .col-sm-2
      = link_to article.containedAmount.to_s, edit_article_path(article.id), :remote => true
    .col-sm-1
      = link_to article.minimalReserve.to_s, edit_article_path(article.id), :remote => true
    .col-sm-4
      = link_to article.categoriesList, edit_article_path(article.id), :remote => true
