%h3='Elenco articoli'
.container-fluid
  = @filteredArticles.size.to_s+' di '+Article.count.to_s+' articoli'
  %br
  %br
  = form_tag(incomplete_articles_path, method: :get, remote: true, type: :script) do |f|
    = text_field_tag :search, @search, placeholder: 'Cerca..', class: 'form-control autofocus', 'data-target': articles_path
-# - if Article.incompleteItems.empty?
  = "Non ci sono articoli incompleti"
-# - else
.row
  .col-sm-1
    %b= 'Elimina'
  .col-sm-3
    %b= 'Articolo'
  .col-sm-2
    %b= 'Codice a barre'
  .col-sm-2
    %b= 'Disp.'
  .col-sm-2
    %b= 'Ultimo prezzo'
  .col-sm-1
    %b= 'Categorie'

.container-fluid.scrollable-panel
  - @filteredArticles.each do |a|
    =render :partial => 'articles/incomplete_article_block', :locals => { :article => a }

:javascript

  domInit();
  activateAF();
  activateReserveAlert();
