%h1= 'Totali'
%br
.container.scrollable-panel.no-margin
  .row
    .col-12-sm
      %h3
        = "Officina:"
  .row
    .col-12-sm
      = check_box_tag 'hidden-chiarcosso', '1', false, class: 'hide-block', data: { block: '#workshop-chiarcosso'}
      %b= "Lavori #{Company.chiarcosso.name}:"
  .row.hidden-block#workshop-chiarcosso
    .col-12-sm
      .scollable-panel
        - Company.chiarcosso.owned_vehicles.each do |v|
          - v.worksheets.year(2017).each do |ws|
            = ws.total_label+". Inizio lavoro: "+(l ws.created_at)
            .indent
              = ws.items_price_label
              %br
              = ws.materials_price_label
              %br
              = ws.hours_price_label
              %br
            %br

  %b
    = "Totale: #{"%.2f" % Company.chiarcosso.total_workheets_price.round(2)}€"
    = button_to 'Distinta xls', print_workshop_financial_path(year: 2017, company_id: Company.chiarcosso.id, format: :xls), class: 'no-loader'
  %br
  .row
    .col-12-sm
      = check_box_tag 'hidden-transest', '1', false, class: 'hide-block', data: { block: '#workshop-transest'}
      %b= "Lavori #{Company.transest.name}: "

  .row.hidden-block#workshop-transest
    .col-12-sm
      .scollable-panel
        - Company.transest.owned_vehicles.each do |v|
          - v.worksheets.year(2017).each do |ws|
            = ws.total_label+". Inizio lavoro: "+(l ws.created_at)
            .indent
              = ws.items_price_label
              %br
              = ws.materials_price_label
              %br
              = ws.hours_price_label
              %br
            %br

  %b
    = "Totale: #{"%.2f" % Company.transest.total_workheets_price.round(2)}€"
    = button_to 'Distinta xls', print_workshop_financial_path(year: 2017, company_id: Company.transest.id, format: :xls), class: 'no-loader'
  %br
  .row
    .col-12-sm
      %h3
        = "Magazzino:"
  .row
    .col-sm-6
      = "Valore totale pezzi in giacenza: #{number_to_currency(Item.total_value, locale: :it, separator: ",", delimiter: '.', unit: '€')}"
      = "(#{number_to_currency(Item.total_value_other, locale: :it, separator: ',', delimiter: '.', unit: '€')} + #{number_to_currency(Item.total_value_tyres, locale: :it, separator: ',', delimiter: '.', unit: '€')} di gomme + #{number_to_currency(Item.total_value_lubricants, locale: :it, separator: ',', delimiter: '.', unit: '€')} di lubrificanti)"
    .col-sm-2
      = button_to 'Distinta csv', print_financial_inventory_path(format: :csv), class: 'no-loader'
    .col-sm-2
      = button_to 'Distinta xls', print_financial_inventory_path(format: :xls), class: 'no-loader'
  .row
    .col-12-sm
      = "#{Item.unassigned.for_free.size} pezzi non hanno il prezzo."
  .row
    .col-12-sm
      .scrollable-panel.no-margin
        - Item.unassigned.for_free.each do |i|
          %br
          = i.to_s

-# = "Valore totale pezzi in giacenza: #{"%.2f" % Item.total_value.to_s}€ (#{"%.2f" % Item.total_value_no_tyres.to_s} + #{"%.2f" % Item.total_value_tyres.to_s} di gomme)"

:javascript

  activateHideBlock();
