%h3= 'Importazione veicoli'
= form_tag(:admin_import_vehicles, method: :post, multipart: true) do |f|
  = file_field_tag 'file', accept: 'application/xls,application/xlsx,text/csv'
  = submit_tag 'Importa'
.container-fluid.scrollable-panel#results
  %br
  %br
  = @results.each do |r|
    .container-fluid
      - r.each do |k,v|
        .row.bottom_border
          .col-sm-2
            = k
          .col-sm-6
            -if v.class == VehicleInformation
              = v.vehicle_information_type.name+': '
              = v.information
            -elsif v.class == VehicleEquipment
              = 'Attrzzatura: '+v.name
            -else
              = v.inspect

    %br
    %br
