%h3= "Importazione dati Access"# - #{@veicoli.size+@altri_mezzi.size+@rimorchi1.size} trovati"
.container-fluid
  -if @no_delete_vehicles.size > 0
    .row{style: "background-color: #999"}
      .col-sm-12
        = "Mezzi con ordini di magazzino"
    .row{style: "background-color: #999"}
      .col-sm-12.scrollable-panel{style: "max-height: 5em;"}
        = @no_delete_vehicles.map { |v| v.plate.nil?? v.inspect : v.plate }.join(', ')
    .row
      .col-sm-12
        %br

  -if @delete_vehicles.size > 0
    .row{style: "background-color: #999; max-height: 5em;"}
      = form_tag(massive_vehicles_delete_path,method: :post, remote: true) do
        .col-sm-10
          = "Mezzi non trovati in access, senza ordini di magazzino"
        .col-sm-2
          = submit_tag 'Elimina selezionati', data: { confirm: "Eliminare i mezzi selezionati?"}
        .row
          .col-sm-12.scrollable-panel{style: "max-height: 5em;"}
            -@delete_vehicles.each do |v|
              .floating-block
                = check_box_tag 'vehicles_list[]', v.id
                = "(#{v.id}) - #{v.plate}"

%ul.nav.nav-tabs
  -# %style
  -#   a:visited,a:link,a:hover,a:active{ color: black; font-style: normal; font-size: +2; }
  %li
    =link_to 'Altri mezzi', '#tab-altri-mezzi', data: { toggle: 'tab'}, class: 'no-loader'
  %li
    =link_to 'Rimorchi1', '#tab-rimorchi1', data: { toggle: 'tab'}, class: 'no-loader'
  %li.active
    =link_to 'Veicoli', '#tab-veicoli', data: { toggle: 'tab'}, class: 'no-loader'
  %li
    =link_to 'Personale', '#tab-autisti', data: { toggle: 'tab'}, class: 'no-loader'

.tab-content
  .tab-pane#tab-altri-mezzi
    .container-fluid
      .row
        .col-sm-8
          %b="Altri mezzi"# - #{@altri_mezzi.size} trovati, "+@altri_mezzi.reject{|v| v[:route].nil?}.size.to_s+" non corretti."
        .col-sm-4
          =button_tag 'Simula', class: 'ajax-link no-loader', data: { target: upsync_other_vehicles_path('simulate'), method: 'post', data: {}}
          =button_tag 'Aggiorna', class: 'ajax-link no-loader', data: { target: upsync_other_vehicles_path('update'), method: 'post', data: {}, confirmation: 'Sei sicuro di aggiornare i dati su Dashboard?'}
      .row
        .col-sm-12
          #block-altri_mezzi{style: 'height: 82%'}
            -# = render :partial => 'admin/import_block', locals: { results: @altri_mezzi}
            %pre.scrollable-panel#block-altri_mezzi-pre{ style: 'white-space: pre-line; word-wrap: unset'}
              =@res

  .tab-pane#tab-rimorchi1
    .container-fluid
      .row
        .col-sm-8
          %b="Rimorchi1"# - #{@rimorchi1.size} trovati, "+@rimorchi1.reject{|v| v[:route].nil?}.size.to_s+" non corretti."
        .col-sm-4
          =button_tag 'Simula', class: 'ajax-link no-loader', data: { target: upsync_trailers_path('simulate'), method: 'post', data: {}}
          =button_tag 'Aggiorna', class: 'ajax-link no-loader', data: { target: upsync_trailers_path('update'), method: 'post', data: {}, confirmation: 'Sei sicuro di aggiornare i dati su Dashboard?'}
      .row
        .col-sm-12
          #block-rimorchi1{style: 'height: 82%'}
            -# = render :partial => 'admin/import_block', locals: { results: @rimorchi1}
            %pre.scrollable-panel#block-rimorchi1-pre{ style: 'white-space: pre-line; word-wrap: unset'}
              =@res

  .tab-pane.active#tab-veicoli
    .container-fluid
      .row
        .col-sm-8
          %b="Veicoli"# - #{@veicoli.size} trovati, "+@veicoli.reject{|v| v[:route].nil?}.size.to_s+" non corretti."
        .col-sm-4
          =button_tag 'Simula', class: 'ajax-link no-loader', data: { target: upsync_vehicles_path('simulate'), method: 'post', data: {}}
          =button_tag 'Aggiorna', class: 'ajax-link no-loader', data: { target: upsync_vehicles_path('update'), method: 'post', data: {}, confirmation: 'Sei sicuro di aggiornare i dati su Dashboard?'}
      .row
        .col-sm-12
          #block-veicoli{style: 'height: 82%'}
            -# = render :partial => 'admin/import_block', locals: { results: @veicoli}
            %pre.scrollable-panel#block-veicoli-pre{ style: 'white-space: pre-line; word-wrap: unset'}
              =@res

  .tab-pane#tab-autisti
    .container-fluid
      .row
        .col-sm-8
          %b="Personale"# - #{@altri_mezzi.size} trovati, "+@altri_mezzi.reject{|v| v[:route].nil?}.size.to_s+" non corretti."
        .col-sm-4
          =button_tag 'Simula', class: 'ajax-link no-loader', data: { target: upsync_employees_path('simulate'), method: 'post', data: {}}
          =button_tag 'Aggiorna', class: 'ajax-link no-loader', data: { target: upsync_employees_path('update'), method: 'post', data: {}, confirmation: 'Sei sicuro di aggiornare i dati su Dashboard?'}
      .row
        .col-sm-12
          #block-autisti{style: 'height: 82%'}
            -# = render :partial => 'admin/import_block', locals: { results: @altri_mezzi}
            %pre.scrollable-panel#block-autisti-pre{ style: 'white-space: pre-line; word-wrap: unset'}
              =@res
