= button_to 'Ricarica', admin_soap_path, method: :get
.container-fluid.scrollable-panel
  -# = @result
  = 'Session ID: '+@sessionID.id
  %br
  %br
  -# - @operations.each do |o|
  -#   = o
  -#   %br
  -#
  -# %br
  -# %br

  - @results.each do |r|

    %br

      - pack = unpack_response(r)
      = pack[:action]
      %br
      %br
      = r.code
      %br
      = pack[:data].inspect
    
      = r.inspect
    %br
    %br
