%center{style: 'width: 90em'}
  %b='Modifica tipologia veicolo: '+@vehicle_typology.name
  %br
  %br

= form_tag(update_vehicle_typology_path, method: :post, remote: true) do |f|
  .contaner
    .row.no-margin
      .col-sm-6
        %b='Tipologia'
        = hidden_field_tag :id, @vehicle_typology.id
        = text_field_tag 'vehicle_typology[name]', @vehicle_typology.name, class: 'form-control'
      .col-sm-6
        -# %b='Codice lavaggio standard'
        -# = select_tag 'vehicle_typology[carwash_type]', options_for_select(Vehicle.carwash_codes,@vehicle_typology.carwash_type), class: 'form-control'
    .row.no-margin
      .col-sm-12
        %br

    .row.no-margin
      .col-sm-2
        %b='Categorie possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_typologies/categories_list'
      .col-sm-3
        %b='Modelli possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_typologies/models_list'
      .col-sm-2
        %b='Informazioni possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_typologies/informations_list'
      .col-sm-2
        %b='Tipi possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_typologies/types_list'
      .col-sm-3
        %b='Attrezzature possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_typologies/equipment_list'
    .row.no-margins
      .col-sm-3
        %br
        %br
        %br
        = submit_tag 'Aggiorna', class: 'btn inline'
