.row.colored
  .col-xs-1
    = button_to("Modifica", edit_user_admin_path(usr.id), method: :get, class: "btn btn-primary")
  .col-xs-1
    = button_to(usr.active ? "Disabilita" : "Abilita", delete_user_admin_path(usr.id), method: :delete, class: "form-control btn #{usr.active ? "btn-danger" : "btn-warning"}", 'data-confirm' => "Sei sicuro di #{usr.active ? "disabilitare" : "abilitare"} l'utente di "+usr.name)
  .col-xs-3= usr.person.list_name unless usr.person.nil?
  .col-xs-4= usr.email
  .col-xs-3
    = usr.roles.pluck(:name).join(', ')
