
.container{style: 'margin-top: 1em;'}
  - results = 0
  -# %span#results="Record: #{results}"

  - mdc_users = MdcUser.assigned.sort_by{ |u| u.complete_name }

  - @mdc_user = mdc_users.first if @mdc_user.nil?
  = form_tag mdc_transport_documents_load_post_path, method: :post, remote: true do |f|
    .row
      .col-sm-2
        = submit_tag 'Ricarica', class: 'form-control'
        = hidden_field_tag :status, 0
      .col-sm-9
        = select_tag :user_id, options_for_select(mdc_users.collect{|p| [p.complete_name,p.user]},@mdc_user.user), include_blank: 'Selezionare autista', class: 'form-control submitting-select', id: 'mdc_user-select'

  -# = radio_button_tag 'status', "opened", @status == 0 ? true : false, id: 'opened'
  -# Mostra viaggi aperti
  -# = radio_button_tag 'status', "closed", @status == 0 ? false : true, id: 'closed'
  -# Mostra viaggi chiusi
  .scrollable-panel.full-panel#fares-panel
    - render partial: 'mdc/index_part', locals: {result: @result, mdc_user: @mdc_user.user}
    -# - MdcUser.assigned.each do |p|
    -#   .loadable{data: {route: "/mdc/transport_documents/#{@status == 0 ? 'opened' : 'closed'}/load/#{p.user.upcase}"}}


  -# #loading
  -#   %b="Caricamento.."

:javascript
  activateGallery();


  // $('input[name=status]').on('click',function(){
  //   var form = $('input[value=Ricarica]').parent();
  //   form.attr('action','/mdc/transport_documents/'+this.id);
  //   form.submit();
  // });
  //
  // loading = $('.loadable').length;
  // results = 0;
  // var res;
  // loadrowGeneric($('.loadable').first());
  // $.each($('.loadable'),function(){
  //
  //
  //
  //   res = loadrowGeneric($(this),$(this).next());
  //   console.log(res,'res');
  // });
