

- @result.each do |res|
  -unless res.nil?
    .row
      .col-sm-12
        %hr
        %b IDPosizione:
        = res.id
        %b Autista:
        = res.user.holder.complete_name
        %br
        -begin
          = res.definition.force_encoding('UTF-8')
        -rescue Exception => e
          -# - byebug
        -# = res.inspect
        - keys  = ''
        - res.dataCollectionRows.each do |dcr|
          - keys += "<ns3:keys>#{dcr.dataCollectionRowKey.xml}</ns3:keys>"
        = form_tag(mdc_close_fare_path, method: :post) do |f|
          = hidden_field_tag :data_collection_rows, Base64.encode64(keys)
          = hidden_field_tag :id, res.id
          = hidden_field_tag :user, res.user.user
          = hidden_field_tag :user_id, @mdc_user.user
          = hidden_field_tag :status, 0
          = submit_tag 'Chiudi'
        = form_tag(mdc_download_ws_pdf_path(format: :pdf), method: :post, class: 'no-loader') do |f|
          = hidden_field_tag :id, res.id
          = hidden_field_tag :driver, res.user.holder.complete_name
          - res.photos.each do |p|
            = hidden_field_tag 'photos[]', p
          = button_tag 'PDF', class: 'no-loader'
    .row
      .col-sm-12
        - res.photos.each do |p|
          = image_tag(p, class: 'gallery-image', style: 'height:50%;width:auto;')
        %br
        %br

:javascript
  activateGallery();
