
- case @office
  - when 'hr' then
    - office_label = 'Uff. personale'
  - when 'maintenance' then
    - office_label = 'Uff. manutenzioni'
  - when 'logistics' then
    - office_label = 'Uff. traffico'
- unless @new_entries_message.nil?
  #notification_text{style: 'display: none'}
    = @new_entries_message
= form_tag(notification_filter_path(@office),remote: true, method: :post, id: 'reports_filter_form') do |f|
  = hidden_field_tag :shown_reports, @results.map{ |r| r.id }.to_json
  .row
    - case @office.to_sym
      - when :hr then
        .col-sm-3{style: 'margin-right: 0px; white-space: nowrap;'}
          %h3= "segnalazioni (Personale): #{@results.count}"
        .col-sm-7{style: 'margin-left: 0px; white-space: nowrap; top: 2.5rem; float: right;'}
          .col-sm-3
            .field.centered
              %label= "Infortunio"
              = check_box_tag 'reports[types][]', 'infortunio', @types['infortunio']
          .col-sm-3
            .field.centered
              %label= "Incidente"
              = check_box_tag 'reports[types][]', 'incidente', @types['incidente']
          .col-sm-3
            .field.centered
              %label= "Furto"
              = check_box_tag 'reports[types][]', 'furto', @types['furto']
          .col-sm-3
            .field.centered
              %label= "DPI"
              = check_box_tag 'reports[types][]', 'dpi', @types['dpi']
      - when :logistics then
        .col-sm-3{style: 'margin-right: 0px; white-space: nowrap;'}
          %h3= "Segnalazioni (Traffico): #{@results.count}"
        .col-sm-9{style: 'margin-left: 0px; white-space: nowrap; top: 2.5rem; float: right;'}
          .col-sm-3
            .field.centered
              %label= "Contravvenzione"
              = check_box_tag 'reports[types][]', 'contravvenzione', @types['contravvenzione']
          .col-sm-2
            .field.centered
              %label= "Attrezzatura"
              = check_box_tag 'reports[types][]', 'attrezzatura', @types['attrezzatura']
          .col-sm-2
            .field.centered
              %label= "Infortunio"
              = check_box_tag 'reports[types][]', 'infortunio', @types['infortunio']
          .col-sm-2
            .field.centered
              %label= "Incidente"
              = check_box_tag 'reports[types][]', 'incidente', @types['incidente']
          .col-sm-1
            .field.centered
              %label= "Furto"
              = check_box_tag 'reports[types][]', 'furto', @types['furto']
          .col-sm-1
            .field.centered
              %label= "DPI"
              = check_box_tag 'reports[types][]', 'dpi', @types['dpi']
          .col-sm-1
            .field.centered
              %label= "Sosta"
              = check_box_tag 'reports[types][]', 'sosta_prolungata', @types['sosta_prolungata']
      - when :maintenance then
        .col-sm-2{style: 'margin-right: 0px; white-space: nowrap;'}
          %h3= "Segnalazioni (Manutenzioni): #{@results.count}"
        .col-sm-8{style: 'margin-left: 0px; white-space: nowrap; top: 2.5rem; float: right;'}
          .col-sm-1
            .field.centered
              %label= "Sede"
              = check_box_tag 'reports[types][]', 'anomalia_sede', @types['anomalia_sede']
          .col-sm-3
            .field.centered
              %label= "Contravvenzione"
              = check_box_tag 'reports[types][]', 'contravvenzione', @types['contravvenzione']
          .col-sm-2
            .field.centered
              %label= "Attrezzatura"
              = check_box_tag 'reports[types][]', 'attrezzatura', @types['attrezzatura']
          .col-sm-3
            .field.centered
              %label= "Guasto / danno"
              = check_box_tag 'reports[types][]', 'guasto', @types['guasto']
          .col-sm-2
            .field.centered
              %label= "Incidente"
              = check_box_tag 'reports[types][]', 'incidente', @types['incidente']
          .col-sm-1
            .field.centered
              %label= "Furto"
              = check_box_tag 'reports[types][]', 'furto', @types['furto']
  .row
    .col-sm-4
      .col-sm-1
        %h4 Dal
      .col-sm-5
        = hidden_field_tag 'office', @office
        = date_field_tag 'reports[date_from]', @date_from, class: 'form-control'
      .col-sm-1
        %h4 Al
      .col-sm-5
        = date_field_tag 'reports[date_to]', @date_to, class: 'form-control'
    .col-sm-7
      = text_field_tag 'reports[search]', @search, class: 'form-control', placeholder: 'Cerca fra gli autisti, le targhe, nelle note..'
    .col-sm-1
      .field
        = submit_tag 'Filtra', class: 'form-control'
.scrollable-panel.full-panel{style: "padding-right: 2em; padding-left: 2em;"}
  - @results.each do |r|
    .row.colored{style: r.managed? ? '' : 'font-weight: bolder'}
      .row
        .col-sm-2
          = r.reporter_label
        .col-sm-2
          = form_tag(mdc_edit_report_path, remote: true, method: :post, multipart: true) do |f|
            = hidden_field_tag 'id', r.id
            = hidden_field_tag 'office', @office
            = select_tag 'type',options_for_select(MdcReport.report_types,r.report_type), class: 'form-control', id: 'notification_type'
            = submit_tag 'Cambia', class: 'ajax-submit', data: { related_form: 'reports_filter_form'}
          -# =button_tag 'Cambia categoria', class: 'popup-link form-control', data: { id: r.id, office: @office, title: 'Cambia categoria', name: 'mdc_change_report_type', target: mdc_change_report_type_path(r.id), related_form: 'reports_filter_form' }
        .col-sm-1
          - if r.hq
            Sede
          - else
            = r.vehicle.plate unless r.vehicle.nil?
        .col-sm-4
          = r.description
        .col-sm-1
          = "#{r.sent_at.strftime("%d/%m/%Y %H:%M:%S")}"
        .col-sm-2
          - unless @office != 'maintenance' || (r.vehicle.nil? && r.hq == false)
            - if r.myofficina_reference.nil?
              = button_tag 'Crea segnalazione', class: 'form-control ajax-link', data: { target: mdc_create_notification_path, method: 'post', data: {id: r.id}, related_form: 'reports_filter_form'}
            - else
              = "Segnalazione: #{r.myofficina_reference}"
          .col-sm-9
            Gestita:
          .col-sm-3
            = check_box_tag :manage, r.id, r.managed?, class: 'form-control ajax-link', data: { target: mdc_manage_report_path, method: 'post', data: {id: r.id}, related_form: 'reports_filter_form'}
      .row
        .col-sm-12
          - r.images.each do |p|
            = image_tag(p.url, class: 'gallery-image', style: 'height:50%;width:auto;')
        %br
        %br

.row
  .col-sm-12
    %br
    =button_tag 'Nuova segnalazione', class: 'popup-link form-control', data: { office: @office, title: 'Nuova segnalazione', name: 'mdc_new_report', target: mdc_new_report_path, related_form: 'reports_filter_form' }

:javascript

  activateGallery(true);

  if($('#notification_text').html() != undefined){
    createNotification($('#notification_text').html());
  }

  clearTimeout(mdc_reports_timeout);
  mdc_reports_timeout = setTimeout(function(){
    $('#reports_filter_form').submit();
  },30000);
  // $('input[name=status]').on('click',function(){
  //   var form = $('input[value=Ricarica]').parent();
  //   form.attr('action','/mdc/transport_documents/'+this.id);
  //   form.submit();
  // });
