
.container{style: 'margin-top: 1em;'}
  - results = 0
  %span#results="Record: #{results}"
  = button_to 'Ricarica', mdc_transport_documents_path(@status == 0 ? 'opened' : 'closed'), method: :get
  = radio_button_tag 'status', "opened", @status == 0 ? true : false, id: 'opened'
  Mostra viaggi aperti
  = radio_button_tag 'status', "closed", @status == 0 ? false : true, id: 'closed'
  Mostra viaggi chiusi
  .scrollable-panel.full-panel#fares-panel

    - MdcUser.assigned.each do |p|
      .loadable{data: {route: "/mdc/transport_documents/#{@status == 0 ? 'opened' : 'closed'}/load/#{p.user.upcase}"}}


  #loading
    %b="Caricamento.."

:javascript
  activateGallery();


  $('input[name=status]').on('click',function(){
    var form = $('input[value=Ricarica]').parent();
    form.attr('action','/mdc/transport_documents/'+this.id);
    form.submit();
  });

  loading = $('.loadable').length;
  results = 0;
  var res;
  loadrowGeneric($('.loadable').first());
  // $.each($('.loadable'),function(){
  //
  //
  //
  //   res = loadrowGeneric($(this),$(this).next());
  //   console.log(res,'res');
  // });
