.scrollable-panel.full-panel
  .container
    = "Record: #{@results.count}"
    = button_to 'Ricarica', mdc_transport_documents_path, method: :get
    - @results.each do |r|
      - r.each do |res|
        .row
          .col-sm-12
            %hr
            %b IDPosizione:
            = res.id
            %b Autista:
            = res.person.complete_name
            %br
            = res.definition
            -# = res.inspect
            - keys  = ''
            - res.dataCollectionRows.each do |dcr|
              - keys += "<ns3:keys>#{dcr.dataCollectionRowKey.xml}</ns3:keys>"
            = form_tag(mdc_close_fare_path, method: :post) do |f|
              = hidden_field_tag :data_collection_rows, Base64.encode64(keys)
              = hidden_field_tag :id, res.id
              = hidden_field_tag :user, res.person.mdc_user
              = submit_tag 'Chiudi'
            = form_tag(mdc_download_ws_pdf_path(format: :pdf), method: :post) do |f|
              - res.photos.each do |p|
                = hidden_field_tag 'photos[]', p
              = submit_tag 'PDF', class: 'no-loader'
        .row
          .col-sm-12
            - res.photos.each do |p|
              = image_tag(p, class: 'gallery-image', style: 'height:50%;width:auto;')
            %br
            %br

:javascript
  activateGallery();
