.container{style: 'margin: 2em;'}
  = "Segnalazioni: #{@results.count}"
  = button_to 'Ricarica', notification_index_path(@office), method: :get
  .scrollable-panel.full-panel{style: "padding-right: 2em; padding-left: 2em;"}
    - @results.each do |r|
      .row.colored
        .row
          .col-sm-2
            = r.mdc_user.holder.list_name
          .col-sm-2
            = r.report_type.tr('_',' ').capitalize
          .col-sm-1
            = r.vehicle.plate unless r.vehicle.nil?
          .col-sm-6
            = r.description
          .col-sm-1
            = "#{r.sent_at.strftime("%d/%m/%Y")}"

        .row
          .col-sm-12
            - r.images.each do |p|
              = image_tag(p.url, class: 'gallery-image', style: 'height:50%;width:auto;')
          %br
          %br

:javascript
  activateGallery();

  // $('input[name=status]').on('click',function(){
  //   var form = $('input[value=Ricarica]').parent();
  //   form.attr('action','/mdc/transport_documents/'+this.id);
  //   form.submit();
  // });
