= form_tag(add_item_to_order_path, method: :post, remote: true, type: :script) do |f|
  .container-fluid
    - @selected_items
    -# = form_tag(output_path(@destination), method: :get, remote: true, type: :script) do |f|
    = text_field_tag :search, @search, placeholder: 'Cerca..', class: 'form-control autosearch', 'data-target': output_path(@destination)
  .container-fluid
    .row.item-block.tab-header
      .col-sm-4
        Articolo
      .col-sm-1
        Quantità
      .col-sm-4
        Seriale
      .col-sm-1
        Stato
      .col-sm-1
        Scadenza

  -# = form_tag(add_item_to_order_path, method: :post, remote: true, type: :script) do |f|
  .container-fluid.scrollable-panel.half
    = hidden_field_tag :search, @search
    = hidden_field_tag :destination, @destination
    - @selected_items.each do |key, item|
      .row.hover-hilight{'data-target': add_item_to_order_path, 'data-data': item.id}
        .col-sm-4
          -# = hidden_field_tag :item, item.id
          = item.article.complete_name.to_s
        .col-sm-1
          = item.article.availability(@checked_items).size
        .col-sm-3
          = item.serial
        .col-sm-1
          = item.state
        .col-sm-1
          = item.expiringDate.nil?? '' : (l item.expiringDate)

  %b='Articoli assegnati '+(@recipient.nil? ? '' : @recipient.complete_name)
  .container
    .row
      - case @destination.to_sym
        - when :Person
          .col-sm-12
            = select_tag :recipient, options_from_collection_for_select(Person.all, "id", "complete_name", @recipient), class: 'form-control'
        - when :Office
          .col-sm-12
            = select_tag :recipient, options_from_collection_for_select(Office.all, "id", "name", @recipient), class: 'form-control'
        - when :Vehicle
          .col-sm-12
            = select_tag :recipient, options_from_collection_for_select(Vehicle.all, "id", "complete_name", @recipient), class: 'form-control'
        - when :Worksheet
          .col-sm-4
            = text_field_tag :recipient, @recipient.nil? ? nil : @recipient.code, placeholder: 'Ordine di lavoro', class: 'prevent-cr form-control'
          .col-sm-8
            -# = select_tag :vehicle, options_from_collection_for_select(Vehicle.order_by_plate, "id", "plate", @recipient.nil? ? nil : @recipient.vehicle), class: 'form-control'
            = hidden_field_tag :vehicle_id, @recipient.vehicle.id
            = text_field_tag :vehicle, @recipient.vehicle.plate, data: { autocomplete:  autocomplete_vehicle_information_information_orders_path }, class: 'form-control autofocus'
  %br
  .container-fluid.scrollable-panel.half
    - @checked_items.reverse.each do |item|
      .row.hover-hilight{'data-target': add_item_to_order_path, 'data-data': item.id}
        .col-sm-4
          = hidden_field_tag 'items[][id]', item.id
          = item.article.complete_name.to_s
        .col-sm-1
          = item.id
        .col-sm-3
          = item.serial
        .col-sm-1
          = item.state
        .col-sm-1
          = item.expiringDate.nil?? '' : (l item.expiringDate)


  .container-fluid
    = submit_tag 'Conferma'
:javascript

  domInit();
  preventCr();
