%div{ style: 'height: 100vh; padding-bottom: 24em;' }
  = form_tag(add_item_to_order_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|

    = hidden_field_tag :chamount, 1
    - @selected_items
    -# = form_tag(output_path(@destination), method: :get, remote: true, type: :script) do |f|
    .row
      .col-sm-6
        = text_field_tag :search, @search, placeholder: 'Cerca..', class: 'form-control autosearch prevent-cr', 'data-target': add_item_to_order_path
      .col-sm-2
        = 'Pezzi da: '+(@from.to_i != 0 ? Office.find(@from.to_i).name : 'Magazzino')
        = select_tag :from, options_for_select([['Magazzino','0'],['Officina mobile 1', Office.where(:name => 'Officina mobile 1').first.id],['Officina mobile 2', Office.where(:name => 'Officina mobile 2').first.id]],@from), class: 'form-control'

    .row.item-block.tab-header
      .col-sm-4
        Articolo
      .col-sm-1
        Quantità
      .col-sm-4
        Seriale
      .col-sm-1
        Stato
      .col-sm-1
        Scadenza

    -# = form_tag(add_item_to_order_path, method: :post, remote: true, type: :script) do |f|
    .scrollable-panel.colored.half
      -# = hidden_field_tag :search, @search
      = hidden_field_tag :destination, @destination
      - @selected_items.each do |key, item|
        .row.colored.hover-hilight{class: ('signal-danger' if item.article.under_reserve?), 'data-popup': 'true', 'data-max': item.article.actual_availability(@checked_items), 'data-target': add_item_to_order_path, 'data-data': item.id, 'data-name': item.article.complete_name}
          .col-sm-4
            -# = hidden_field_tag :item, item.id
            = item.id.to_s+'::'+item.article.complete_name.to_s
          .col-sm-1
            = "#{@from.to_i == 0 ? item.article.availability_label(@checked_items) : Office.find(@from.to_i).items(item.article,@checked_items).size+' '+item.article.measure_unit} "
            = "(min. #{item.article.minimalReserve.to_i} conf.)" if @from.to_i == 0
          .col-sm-3
            = item.serial
          .col-sm-1
            = item.state
          .col-sm-1
            = item.expiringDate.nil?? '' : (l item.expiringDate)

    %b='Articoli assegnati '+((@recipient.nil? || @recipient.id.nil?) ? '' : @recipient.complete_name)
    .row
      - case @destination.to_sym
        - when :Person
          .col-sm-12
            = select_tag :recipient, options_from_collection_for_select(Person.order_alpha_surname, "id", "list_name", @recipient.id), class: 'form-control'
            -# = text_field_tag :recipient, cwdc.person.nil? ? '' : @recipient.complete_name, data: { autocomplete: autocomplete_person_surname_codes_path }, class: 'form-control autofocus', id: 'person_id'
        - when :Office
          .col-sm-12
            = select_tag :recipient, options_from_collection_for_select(Office.all, "id", "name", @recipient.id), class: 'form-control'
        - when :Vehicle
          .col-sm-12
            %b='Ritira '
            = select_tag :precipient, options_from_collection_for_select(Person.order_alpha_surname, "id", "list_name", @receiver.id), class: 'form-control'
            -# = text_field_tag :precipient, @recipient.nil? ? '' : @recipient.complete_name, data: { autocomplete: autocomplete_person_surname_orders_path }, class: 'form-control autofocus', id: 'person_id'
            %b='Targa'
            = text_field_tag :vrecipient, @recipient.plate, data: { autocomplete:  autocomplete_vehicle_information_information_orders_path }, class: 'form-control autofocus', id: 'recipient', placeholder: 'Inserire la targa..'
            = hidden_field_tag :vvehicle_id, @recipient.plate, id: 'vehicle_id'
        - when :Worksheet
          .col-sm-4
            = text_field_tag :recipient, @recipient.nil? ? nil : @recipient.code, placeholder: 'Ordine di lavoro', class: 'prevent-cr form-control finder', data: { target: '/output/ws/' }
            = hidden_field_tag :worksheet_id, @recipient.nil? ? '' : @recipient.id, id: 'worksheet_id'
          .col-sm-8
            -# = select_tag :vehicle, options_from_collection_for_select(Vehicle.order_by_plate, "id", "plate", @recipient.nil? ? nil : @recipient.vehicle), class: 'form-control'
            = hidden_field_tag :vehicle_id, @recipient.nil? ? '' : @recipient.vehicle.id, id: 'vehicle_id'
            = text_field_tag :vehicle, @recipient.nil? ? '' : @recipient.vehicle.plate, data: { autocomplete: autocomplete_vehicle_information_information_orders_path }, class: 'form-control autofocus', id: 'vehicle'
    %br
    .scrollable-panel.half
      - @checked_items.reverse.each do |oo_item|
        .row.colored.hover-hilight.chklist{'data-target': add_item_to_order_path, 'data-data': oo_item.id, 'data-dsc': oo_item.item.complete_name, 'data-serial': oo_item.item.serial}
          .col-sm-4
            -# = hidden_field_tag 'items[][id]', oo_item.id
            = hidden_field_tag 'items[][id]', Base64.encode64(YAML::dump(oo_item))
            = "#{oo_item.item.id}::#{oo_item.item.article.complete_name.to_s}"
          .col-sm-1
            = oo_item.item.actualBarcode
          .col-sm-1
            = 'x'+oo_item.quantity.to_s
          .col-sm-2
            = oo_item.item.serial
          .col-sm-1
            = oo_item.item.state+" #{oo_item.item.remaining_quantity}"
          .col-sm-1
            = oo_item.item.expiringDate.nil?? '' : (l oo_item.item.expiringDate)
            -# = oo_item.item.to_s


    .bottom-box
      = submit_tag 'Conferma', class:'prevent-cr'
:javascript

  domInit();
  preventCr();
  activateFinder();
  activateReserveAlert();

  $('#vehicle').val($('#vehicle').data('value'));
  $('#vrecipient').val($('#vvehicle_id').val());

  $('.chklist').off('click');
  $('.chklist').on('click',function(){
    msg = $(this).data('dsc');
    sr = $(this).data('serial');
    if(sr != ''){
      msg += ' ('+sr+')';
    }
    if(confirm("Rimouvere "+msg+"?")){
      $(this).remove();
      var e = $.Event('keyup');
      e.which = 13;
      $('input[name=search]').trigger(e);
    }
  });
