.container-fluid
  - CarwashDriverCode.not_deleted.sort_by{ |c| c.person.surname }.each do |cwdc|
    = form_tag(update_carwash_driver_code_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
      = hidden_field_tag :id, cwdc.id
      .row{ style: cwdc.disabled ? 'background-color: #999' : ''}
        .col-sm-4
          -# = text_field_tag 'carwash_driver_code[code]', cwdc.code, class: 'form-control a'+cwdc.id.to_s, disabled: :disabled
          %b=cwdc.code
        .col-sm-8
          -# = text_field_tag 'carwash_driver_code[person]', cwdc.person.list_name, class: 'form-control a'+cwdc.id.to_s, disabled: :disabled
          %b=cwdc.person.list_name
          -# = text_field_tag 'carwash_driver_code[person]', cwdc.person.nil? ? '' : cwdc.person.complete_name, data: { autocomplete: autocomplete_person_surname_codes_path }, class: 'form-control autofocus', id: 'person_id'
          -# = hidden_field_tag 'carwash_driver_code[person]', '', id: :person_id
      .row{ style: cwdc.disabled ? 'background-color: #999' : ''}
        .col-sm-12
          = submit_tag 'Rigenera', data: { confirmation: "Rigenerare la carta #{cwdc.code} assegnata a #{cwdc.person.list_name}? La tessera stampata in precedenza non sarà più valida."}
          = submit_tag cwdc.disabled ? 'Abilita' : 'Disabilita', data: { confirmation: "#{cwdc.disabled ? 'Abilitare' : 'Disabilitare'} la carta #{cwdc.code} assegnata a #{cwdc.person.list_name}?"}
          = submit_tag 'Elimina', data: { confirmation: "Eliminare la carta #{cwdc.code} assegnata a #{cwdc.person.list_name}?"}
          = 'Stampa'
          = check_box_tag "print-drivers[]",cwdc.id, false, class: 'print print-driver', data: {date: cwdc.updated_at.strftime('%Y%m%d')}
          %hr
          -# = submit_tag 'Stampa'
    -# = text_field_tag :person, cwdc.person.nil? ? '' : cwdc.person.complete_name, data: { autocomplete_source: Person.find_by_complete_name(:name).map(&:name) }, class: 'form-control autofocus', id: 'person'

    -# %div{class: 'a'+cwdc.id.to_s}
    -#   - unless cwdc.person.nil?
    -#     = cwdc.person.complete_name
    -#   - else
    -#   = 'Non assegnato'
