.container-fluid
  - CarwashDriverCode.order_person().each do |cwdc|
    = form_tag(update_carwash_driver_code_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
      = hidden_field_tag :id, cwdc.id
      .row
        .col-sm-4
          = text_field_tag 'carwash_driver_code[code]', cwdc.code, class: 'form-control a'+cwdc.id.to_s, disabled: :disabled
        .col-sm-8
          = text_field_tag 'carwash_driver_code[person]', cwdc.person.list_name, class: 'form-control a'+cwdc.id.to_s, disabled: :disabled
          -# = text_field_tag 'carwash_driver_code[person]', cwdc.person.nil? ? '' : cwdc.person.complete_name, data: { autocomplete: autocomplete_person_surname_codes_path }, class: 'form-control autofocus', id: 'person_id'
          -# = hidden_field_tag 'carwash_driver_code[person]', '', id: :person_id
      .row
        .col-sm-12
          = submit_tag 'Rigenera'
          = submit_tag 'Elimina'
          = check_box_tag "print-drivers[]",cwdc.id, false, class: 'print'
          %hr
          -# = submit_tag 'Stampa'
    -# = text_field_tag :person, cwdc.person.nil? ? '' : cwdc.person.complete_name, data: { autocomplete_source: Person.find_by_complete_name(:name).map(&:name) }, class: 'form-control autofocus', id: 'person'

    -# %div{class: 'a'+cwdc.id.to_s}
    -#   - unless cwdc.person.nil?
    -#     = cwdc.person.complete_name
    -#   - else
    -#   = 'Non assegnato'
