.container-fluid
  - codes = current_user.has_role?(:admin) ? CarwashVehicleCode.all : CarwashVehicleCode.not_deleted
  - codes.sort_by{ |c| c.vehicle.plate }.each do |cwdc|
    = form_tag(update_carwash_vehicle_code_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
      = hidden_field_tag :id, cwdc.id
      .row{class: (cwdc.vehicle.dismissed ? ' error-item' : ''), style: cwdc.disabled ? 'background-color: #999' : ''}
        .col-sm-4
          -# = text_field_tag 'carwash_vehicle_code[code]', cwdc.code, class: 'form-control a'+cwdc.id.to_s, disabled: :disabled
          %b=cwdc.code
        .col-sm-8
          %b=cwdc.vehicle.plate
          -# = text_field_tag 'carwash_vehicle_code[vehicle]', cwdc.vehicle.nil? ? '' : cwdc.vehicle.plate, class: 'form-control a'+cwdc.id.to_s, disabled: :disabled
          -# = text_field_tag 'carwash_driver_code[person]', cwdc.person.nil? ? '' : cwdc.person.complete_name, data: { autocomplete: autocomplete_person_surname_codes_path }, class: 'form-control autofocus', id: 'person_id'
          -# = hidden_field_tag 'carwash_driver_code[person]', '', id: :person_id
      .row{class: (cwdc.vehicle.dismissed ? ' error-item' : ''), style: cwdc.disabled ? 'background-color: #999' : ''}
        .col-sm-12
          = submit_tag 'Rigenera', data: { confirmation: "Rigenerare la carta #{cwdc.code} assegnata a #{cwdc.vehicle.plate}? La tessera stampata in precedenza non sarà più valida."}
          = submit_tag cwdc.disabled ? 'Abilita' : 'Disabilita', data: { confirmation: "#{cwdc.disabled ? 'Abilitare' : 'Disabilitare'} la carta #{cwdc.code} assegnata a #{cwdc.vehicle.plate}?"}
          = submit_tag cwdc.deleted ? 'Ripristina' : 'Elimina', data: { confirmation: "#{cwdc.deleted ? 'Ripristina' : 'Elimina'} la carta #{cwdc.code} assegnata a #{cwdc.vehicle.plate}?"}
          = 'Stampa'
          = check_box_tag "print-vehicles[]",cwdc.id, false, class: 'print print-vehicle', data: {date: cwdc.vehicle.dismissed ? -1 : cwdc.updated_at.strftime('%Y%m%d')}
          %hr
    -# = text_field_tag :person, cwdc.person.nil? ? '' : cwdc.person.complete_name, data: { autocomplete_source: Person.find_by_complete_name(:name).map(&:name) }, class: 'form-control autofocus', id: 'person'

    -# %div{class: 'a'+cwdc.id.to_s}
    -#   - unless cwdc.person.nil?
    -#     = cwdc.person.complete_name
    -#   - else
    -#   = 'Non assegnato'
