
%div{ style: 'height: 100vh; padding-bottom: 24em;' }
  .row
    .col-sm-12
      %h3
        Badge per il lavaggio
  .row
    .col-sm-4
      Codici autisti
      %br
      = form_tag(new_carwash_driver_code_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
        = text_field_tag 'carwash_driver_code[person]', nil, data: { autocomplete: autocomplete_person_surname_codes_path }, class: 'form-control autofocus', id: 'person_id', placeholder: 'Nome'
        = hidden_field_tag 'carwash_driver_code[person_id]', '', id: :person_id
        = submit_tag 'Crea'
      %hr
      = CarwashDriverCode.all.size.to_s+' tessere.'
      %hr
      .scrollable-panel#drivers_codes
        = render :partial => 'codes/drivers_codes'

    .col-sm-4
      Codici mezzi
      %br
      = form_tag(new_carwash_vehicle_code_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
        = text_field_tag 'carwash_vehicle_code[plate]', nil, data: { autocomplete: autocomplete_vehicle_information_information_codes_path }, class: 'form-control autofocus', id: 'person_id', placeholder: 'Targa'
        = hidden_field_tag 'carwash_vehicle_code[vehicle_id]', '', id: :vehicle_id
        = submit_tag 'Crea'
      -# = form_for(:carwash_vehicle_code, url: new_carwash_vehicle_code_path, method: :post, remote: true) do |f|
      -#   = f.text_field :code, id: :vehicle_code
      -#   = f.submit 'Nuovo'
      %hr
      = CarwashVehicleCode.all.size.to_s+' tessere.'
      %hr
      .scrollable-panel#vehicles_codes
        = render :partial => 'codes/vehicles_codes'
    .col-sm-4
      Codici speciali
      %br
      - if current_user.has_role? :admin
        = form_tag(new_carwash_special_code_path, method: :post, remote: true, type: :script, class: 'prevent-cr') do |f|
          = text_field_tag 'carwash_special_code[label]', nil, class: 'form-control autofocus', placeholder: 'Nome'
          = number_field_tag 'carwash_special_code[carwash_code]', '0'
          = submit_tag 'Crea'
      -# = form_for(:carwash_vehicle_code, url: new_carwash_vehicle_code_path, method: :post, remote: true) do |f|
      -#   = f.text_field :code, id: :vehicle_code
      -#   = f.submit 'Nuovo'
      %hr
      = CarwashSpecialCode.all.size.to_s+' tessere.'
      %hr
      .scrollable-panel#special_codes
        = render :partial => 'codes/special_codes'
  .row
    .col-sm-12
      .ontop
        = form_tag(carwash_print_path(format: :pdf), method: :post) do |f|
          = button_tag 'Stampa selezionati', id: :print_cards, class: 'no-loader'
          &nbsp&nbsp&nbsp
          = 'Seleziona tutti'
          = check_box_tag "print-all",false, false, id: 'print_all'
          &nbsp&nbsp&nbsp
          = 'Seleziona tutti gli autisti'
          = check_box_tag "print-all-drivers",false, false, id: 'print_all_drivers'
          &nbsp&nbsp&nbsp
          = 'Seleziona tutti i veicoli'
          = check_box_tag "print-all-vehicles",false, false, id: 'print_all_vehicles'
          &nbsp&nbsp&nbsp
          = 'Seleziona tutti le tessere speciali'
          = check_box_tag "print-all-specials",false, false, id: 'print_all_specials'
          &nbsp&nbsp&nbsp
          = "Seleziona creati dal"
          = date_field_tag 'from_date', nil, id: 'from_date'
:javascript

  $('#print_all').off('click');
  $('#print_all').on('click',function(){
    check = $(this).prop('checked');
    if (check == true){
      $.each($('.print'),function(){
        console.log($(this).parents('.error-item').length,check);
        if(!$(this).parents('.error-item').length > 0){
          $(this).prop('checked',check);
        }
      });
    } else {
      $('.print').prop('checked',check);
    }


    alert('Selezionate '+$('.print:checked').length+' tessere.');
  });

  $('#print_all_drivers').off('click');
  $('#print_all_drivers').on('click',function(){
    check = $(this).prop('checked');
    if (check == true){
      $.each($('.print-driver'),function(){
        console.log($(this).parents('.error-item').length,check);
        if(!$(this).parents('.error-item').length > 0){
          $(this).prop('checked',check);
        }
      });
    } else {
      $('.print-driver').prop('checked',check);
    }

    alert('Selezionate '+$('.print:checked').length+' tessere.');
  });

  $('#print_all_vehicles').off('click');
  $('#print_all_vehicles').on('click',function(){
    check = $(this).prop('checked');
    if (check == true){
      $.each($('.print-vehicle'),function(){
        console.log($(this).parents('.error-item').length,check);
        if(!$(this).parents('.error-item').length > 0){
          $(this).prop('checked',check);
        }
      });
    } else {
      $('.print-vehicle').prop('checked',check);
    }

    alert('Selezionate '+$('.print:checked').length+' tessere.');
  });

  $('#print_all_specials').off('click');
  $('#print_all_specials').on('click',function(){
    check = $(this).prop('checked');
    if (check == true){
      $.each($('.print-special'),function(){
        console.log($(this).parents('.error-item').length,check);
        if(!$(this).parents('.error-item').length > 0){
          $(this).prop('checked',check);
        }
      });
    } else {
      $('.print-special').prop('checked',check);
    }

    alert('Selezionate '+$('.print:checked').length+' tessere.');
  });

  function check_all(){
    if($('.print').length == $('.print:checked').length){
      $('#print_all').prop('checked',true);
    } else {
      $('#print_all').prop('checked',false);
    }
  };

  $('.print').off('click');
  $('.print').on('click',function(){
    check_all();
  });

  $('#from_date').off('change');
  $('#from_date').on('change', function(){
    if($(this).val() != undefined && $(this).val() != ''){
      var date = $(this).val().split('-').join('');
      $.each($('.print'),function(){
        if($(this).data('date') > date){
          $(this).prop('checked',true);
        } else {
          $(this).prop('checked',false);
        }
      });
      check_all();
      alert('Selezionate '+$('.print:checked').length+' tessere.');
    }
  });

  $('#print_cards').off('click');
  $('#print_cards').on('click',function(e){
    var drivers = [];
    var vehicles = [];
    var special = [];
    $('input[name^=print-drivers]:checked').each(function(){
      drivers.push($(this).val());
    });
    $('input[name^=print-vehicles]:checked').each(function(){
      vehicles.push($(this).val());
    });
    $('input[name^=print-special]:checked').each(function(){
      special.push($(this).val());
    });
    var data = {drivers: drivers, vehicles: vehicles};

    var form = $(this).parent();
    form.children('input[name="drivers[]"]').remove();
    form.children('input[name="vehicles[]"]').remove();
    form.children('input[name="special[]"]').remove();
    $.each(drivers,function(){
      form.append('<input type="hidden" value="'+this+'" name="drivers[]">');
    });
    $.each(vehicles,function(){
      form.append('<input type="hidden" value="'+this+'" name="vehicles[]">');
    });
    $.each(special,function(){
      form.append('<input type="hidden" value="'+this+'" name="special[]">');
    });
    setTimeout(function(){
      $(this).removeAttr('disabled');
      console.log('enabled');
    },3000);

  //  $.ajax({
  //    url: '/codes/carwash_print/',
  //    method: 'post',
  //    data: data,
  //    complete: function(data){
  //      console.log(data);
  //    },
  //    headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'Accept': 'application/pdf,application/xhtml+xml,application/xml' }
  //  });
  //  e.preventDefault();

  });
  //  function transformCode(code,prefix){
  //    var patt = new RegExp(/[0-9]*/);
  //    // code = patt.exec(code);
  //    if(code.charAt(0) == prefix){
  //      return code;
  //    } else {
  //      return prefix+code;
  //    }
  //  };

  //  $('#person_code').on('keyup',function(e){
  //    $(this).val(transformCode($(this).val(),'A'));
  //  });
  //  $('#vehicle_code').on('keyup',function(e){
  //    $(this).val(transformCode($(this).val(),'M'));
  //  });
