%h3
  Badge per il lavaggio
%br
%br

Codici autisti
%br
= form_for(:carwash_driver_code, method: :post, action: new_carwash_driver_code_path, remote: true) do |f|
  = f.text_field :code
  = f.submit 'Nuovo'
%hr
.panel.scrollable-panel
  = render :partial => 'codes/drivers_codes'

Codici mezzi
%hr
- CarwashVehicleCode.all.each do |cwvc|
  = cwvc
