%b="Ordine nr. #{@order.id.to_s} - #{@order.destination.complete_name}"
.inline-input
  = button_tag 'Elimina', class: 'delete', 'data-object': 'ordine', 'data-target': output_order_delete_path(@order.id), 'data-id': @order.id
.inline-input
  = button_to 'Stampa lista', output_order_pdf_path(@order.id,format: :pdf), class: 'no-loader'
- if @order.destination.class.name == 'Person' or @order.destination.class.name == 'Vehicle'
  .inline-input
    = button_to 'Stampa modulo', output_order_pdf_module_path(@order.id,format: :pdf), id: 'form-button', :disabled => 'disabled', class: 'no-loader'
%br
%br
= text_field 'check_item', '', placeholder: 'Codice a barre', class: 'form-control autofocus', 'data-order': @order.id.to_s
%br
%br

.container
  .row
    .col-sm-1
      %b='Quantità'
    .col-sm-3
      %b='Articolo'
    .col-sm-3
      %b='Seriale/matricola'
    .col-sm-2
      %b='Codice a barre'
    .col-sm-2
      %b='Posizione'
    .col-sm-1
      -# %input{type: :checkbox, id: 'itm_out_chk_all'}
.container.half.scrollable-panel
  - @order.compacted_items_serial.each do |i|
    - item = Item.find(i[1][:id].to_i)
    .row
      .col-sm-1
        =i[1][:amount]
      .col-sm-3
        =i[1][:name]
      .col-sm-3
        =i[1][:serial]
      .col-sm-2
        = image_tag(i[1][:image],size: '140x30')
        %br
        = i[1][:barcode]
      .col-sm-2
        = i[1][:postion]
      .col-sm-1
        %input{type: :checkbox, class: 'itm_out_chk', id: i[1][:id], 'data-barcode': i[1][:barcode]}

:javascript
  //domInit();
  activateClose();
  activateAF();
  activateDelete();

  $('#itm_out_chk_all').off('change');
  $('#itm_out_chk_all').on('change',function(){
    var chk = $(this)[0].checked;
    console.log($(this)[0].checked);
    $('.itm_out_chk').each(function(){
      $(this)[0].checked = chk;
      $(this).trigger('change');
    })
  });

  $('.itm_out_chk').off('change');
  $('.itm_out_chk').on('change',function(){
    var complete = true;
    //if($(this).checked){
    //  $(this).css('background-color','#afa');
    //} else {
    //  $(this).css('background-color','#fff');
    //}
    //$(this).css('background-color','#afa');
    $('.itm_out_chk').each(function(i,el){
      if(!$(el)[0].checked){
        complete = false;
        $(el).parents('.row').first().css('background-color','#fff');
      } else {
        $(el).parents('.row').first().css('background-color','#afa');
      }
    })
    if(complete){
      $('#form-button').prop("disabled",false);
      var id =$('#check_item_').data('order');
      if(confirm('Conferma ordine nr. '+id)){
        $.ajax({
          url: 'output_order/confirm/',
          method: 'post',
          data: {id: id},
          complete: function(data){
            console.log(data);
          }
        });
        $("div[data-target='/output_order/exit/"+id+"']").remove();
        //$('#form-button').trigger('click');
        //$('.close').first().trigger('click');
      }

    } else {
      $('#form-button').prop("disabled",true);
    }
  });
  $('#check_item_').off('keypress');
  $('#check_item_').on('keypress',function(e){
    if(e.which == 13){
      var barcode = $('#check_item_').val();
      $('input[data-barcode="'+barcode+'"]').each(function(){
        console.log(this.id,this.checked,barcode);
        if(!this.checked){
          $(this).attr('checked','checked');
          $(this).parents('.row').css('background-color','#afa');
          $('#check_item_').val('');
          return false;
        }
      })

      var complete = true;
      $('.itm_out_chk').each(function(){
        if($(this).attr('checked') != 'checked'){
          complete = false;
        }
      })
      if(complete){
        $('#form-button').prop("disabled",false);
        var id =$('#check_item_').data('order');
        if(confirm('Conferma ordine nr. '+id)){
          $.ajax({
            url: 'output_order/confirm/',
            method: 'post',
            data: {id: id},
            complete: function(data){
              console.log(data);
            }
          });
          $("div[data-target='/output_order/exit/"+id+"']").remove();
          //$('#form-button').trigger('click');
          //$('.close').first().trigger('click');
        }

      } else {
        $('#form-button').prop("disabled",true);
      }
    }
  })
