%b='Ordine nr. '+@order.id.to_s
.inline-input
  = button_tag 'Elimina', class: 'delete', 'data-object': 'ordine', 'data-target': output_order_delete_path(@order.id), 'data-id': @order.id
.inline-input
  = button_to 'Stampa lista', output_order_pdf_path(@order.id,format: :pdf)
- if @order.destination.class.name == 'Person' or @order.destination.class.name == 'Vehicle'
  .inline-input
    = button_to 'Stampa modulo', output_order_pdf_module_path(@order.id,format: :pdf)
%br
%br
= text_field 'check_item', '', placeholder: 'Codice a barre', class: 'form-control autofocus', 'data-order': @order.id.to_s
%br
%br

.container
  .row
    .col-sm-4
      %b='Articolo'
    .col-sm-3
      %b='Seriale/matricola'
    .col-sm-2
      %b='Codice a barre'
    .col-sm-2
      %b='Posizione'
    .col-sm-1
.container.half.scrollable-panel
  - @order.items.each do |i,k|
    .row
      .col-sm-4
        =i.article.complete_name
      .col-sm-3
        =i.serial
      .col-sm-2
        = image_tag(i.actualBarcode.to_s+'.png',size: '140x30')
        %br
        = i.actualBarcode
      .col-sm-2
        =i.position_code.code
      .col-sm-1
        %input{type: :checkbox, disabled: :disabled, class: 'itm_out_chk', id: i.id, 'data-barcode': i.actualBarcode}

:javascript
  //domInit();
  activateClose();
  activateAF();
  activateDelete();

  $('#check_item_').off('keypress');
  $('#check_item_').on('keypress',function(e){
    if(e.which == 13){
      var barcode = $('#check_item_').val();
      $('input[data-barcode="'+barcode+'"]').each(function(){
        console.log(this.id,this.checked,barcode);
        if(!this.checked){
          $(this).attr('checked','checked');
          $(this).parents('.row').css('background-color','#afa');
          $('#check_item_').val('');
          return false;
        }
      })

      var complete = true;
      $('.itm_out_chk').each(function(){
        if($(this).attr('checked') != 'checked'){
          complete = false;
        }
      })
      if(complete){
        var id =$('#check_item_').data('order');
        if(confirm('Conferma ordine nr. '+id)){
          $.ajax({
            url: 'output_order/confirm/',
            method: 'post',
            data: {id: id},
            complete: function(data){
              console.log(data);
            }
          });
          $("div[data-target='/output_order/exit/"+id+"']").remove();
          $('.close').first().trigger('click');
        }

      }
    }
  })
