= form_for @position_code do |f|
  - if @position_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@position_code.errors.count, "error")} prohibited this position_code from being saved:"
      %ul
        - @position_code.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'Piano'
    = f.number_field :floor, max: 3, min:0
  .field
    = f.label 'Corsia'
    = f.select :row, PositionCode.rows, class: 'form-control'
  .field
    = f.label 'Livello'
    = f.number_field :level, max: 3, min:0
  .field
    = f.label 'Settore'
    = f.number_field :sector, max: 30, min:0
  .field
    = f.label 'Sezione'
    = f.select :section, PositionCode.section_codes, class: 'form-control'
  .actions
    = f.submit 'Save'
