%h3 Ditte

= form_tag(companies_path, method: :get) do |f|
  = text_field_tag :search, @search, placeholder: 'Cerca..', class: 'form-control autosearch autofocus', 'data-target': companies_path
-# = will_paginate @vehicles
.container
  .row
    .col-sm-3
      %b='Ragione sociale'
    .col-sm-2
      %b='Categorie'
    .col-sm-1
      %b='Telefono'
    .col-sm-1
      %b='Mail'
    .col-sm-1
      %b='Pec'
    .col-sm-2
      %b='Note'
    .col-sm-1
    .col-sm-1


.container.scrollable-panel
  - unless @companies.nil?
    - @companies.each do |c|
      .row.colored
        .col-sm-4
          =c.id.to_s+'::'+c.name
        .col-sm-1
          =c.show_categories
        .col-sm-1
          -# =c.main_phone_number unless c.main_phone_number.nil?
        .col-sm-1
          -# =c.main_mail_address unless c.main_mail_address.nil?
        .col-sm-1
          -# =c.pec_address unless c.pec_mail_address.nil?
        .col-sm-2
          =c.notes
        .col-sm-1
          =button_to 'Modifica', edit_company_path(c.id), class: 'inline', method: :get
        .col-sm-1
          = form_tag(company_path(c.id), method: :delete) do |f|
            = hidden_field_tag :search, @search
            = submit_tag 'x', class: 'inline', data: { :confirm => "Eliminare la ditta #{c.name}?"}

.container
  =button_to 'Crea', new_company_path, method: :get

:javascript

  activateAF();
