.container-fluid{style: 'margin-top: 2em;'}
  = form_tag('/timesheets/index') do |f|
    .row
      .col-sm-3
        = "Selezionare il giorno: "
      .col-sm-3
        = date_field_tag :date, @date.strftime("%Y-%m-%d"), class: 'form-control'
        = hidden_field_tag :name, @name
      .col-sm-2
        = submit_tag 'Cerca', class: 'form-control'

  .panel-group.scrollable-panel#accordion{style: 'height: 80%;'}
    - @timesheets.sort.each do |name,ts|
      - person = Person.find_by_complete_name name
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-12
              %h4.panel-title{ data: {name: name.tr('\' ','_')}}
                %a{ href: "#collapse-#{name.tr('\' ','_')}", data: { toggle: 'collapse', parent: '#accordion' }}
                  = name
        %div{ class: "panel-collapse collapse#{name.tr('\' ','_') == @name ? ' in' : ''}", id: "collapse-#{name.tr('\' ','_')}"}
          .panel-body
            .row
              .col-sm-5
                %b
                  Descrizione
              .col-sm-2
                %b
                  Tempo
              .col-sm-3
                .col-sm-6
                  %b
                    Responsabile
                .col-sm-6
                  %b
                    Uff. Personale
              .col-sm-2
            %div{id: "#collapse-#{name.tr(' ','_')}"}
              - total = 0
              - ts.sort_by{ |s| s.workshop_operation_id.to_i}.each do |t|
                - total += t.minutes.to_i

                .row.colored{style: 'padding-top: 1em; padding-bottom: 1em;'}
                  - unless t.workshop_operation.nil? || t.workshop_operation.worksheet.nil?
                    - ws = t.workshop_operation.worksheet
                    %b
                      -# = button_tag "ODL nr. #{ws.number} - #{ws.vehicle.plate}", class: 'no-loader ajax-link', data: { target: worksheet_get_pdf_path(ws.id,format: :pdf), method: :post}
                      = button_to "ODL nr. #{ws.number} - #{ws.vehicle.plate}", worksheet_get_pdf_path(ws.id,format: :pdf), class: 'no-loader'
                  -# %b= "ODL nr. #{t.workshop_operation.worksheet.number} - #{t.workshop_operation.worksheet.vehicle.plate}" unless t.workshop_operation.nil? || t.workshop_operation.worksheet.nil?
                  = form_tag(timesheet_update_path, remote: true, method: :post) do |f|
                    .col-sm-5


                      %br
                      = "#{t.id} - #{t.description} #{t.workshop_operation_id.nil? ? '' : "(#{t.workshop_operation_id})"}"
                      = "#{t.minutes} min."
                      = "#{t.start.strftime("%d/%m/%Y %H:%M:%S")} - #{t.stop.nil? ? 'Non conclusa' : t.stop.strftime("%d/%m/%Y %H:%M:%S")}"
                      - if t.minutes.nil?
                        %br
                        %b{style: 'color: #f00'}= "Errore: tempo non presente -> #{t.time_label}"
                      - if t.minutes.to_i > (24 * 60)
                        %br
                        %b{style: 'color: #f00'}= "Errore: operazione durata più di 24 ore -> #{t.time_label}"
                      = hidden_field_tag 'timesheet[id]', t.id
                      = hidden_field_tag :date, @date.strftime("%Y-%m-%d")
                      = hidden_field_tag :name, @name
                    .col-sm-2
                      - if (current_user.has_role?('presenze e orari') || current_user.has_role?(:admin) || current_user.has_role?('amministratore officina'))
                        = time_field_tag 'timesheet[minutes]', (t.minutes.to_i < (24 * 60)) ? t.time_label : nil, class: 'form-control'
                      - else
                        = t.time_label
                    .col-sm-3
                      .col-sm-6
                        - if (current_user.has_role?(:admin) || current_user.has_role?('amministratore officina'))
                          = check_box_tag 'timesheet[chief_approval]', true, !t.chief_approval.nil?, class: 'form-control ajax-submit'
                        - else
                          = hidden_field_tag 'timesheet[chief_approval]', !t.chief_approval.nil?
                          - if t.chief_approval.nil?
                            = image_tag('no.png', size: "20x20", alt: "Non confermato dal responsabile")
                          - else
                            = image_tag('ok.png', size: "20x20", alt: "Confermato dal responsabile")
                      .col-sm-6
                        - if (current_user.has_role?(:admin) || current_user.has_role?('presenze e orari'))
                          = check_box_tag 'timesheet[hr_approval]', true, !t.hr_approval.nil?, class: 'form-control ajax-submit'
                        - else
                          = hidden_field_tag 'timesheet[hr_approval]', !t.hr_approval.nil?
                          - if t.hr_approval.nil?
                            = image_tag('no.png', size: "20x20", alt: "Non confermato dall'ufficio personale")
                          - else
                            = image_tag('ok.png', size: "20x20", alt: "Confermato dall'ufficio personale")

                    .col-sm-2
                      - if (current_user.has_role?('presenze e orari') || current_user.has_role?(:admin) || current_user.has_role?('amministratore officina') || current_user.has_role?('visione ore officina'))
                        = submit_tag 'Conferma', class: 'form-control'

              .row
                .col-sm-2
                  .row
                    .col-sm-12
                      %b= "Totale: "
                  - if (current_user.has_role?('presenze e orari') || current_user.has_role?(:admin) || current_user.has_role?('amministratore officina') || current_user.has_role?('visione ore officina'))
                    .row
                      .col-sm-12
                        %b= "Totale timbrature: "
                    .row
                      .col-sm-12
                        %b= "Totale concordato: "
                .col-sm-3
                  .row
                    .col-sm-12
                      - hrs = (total / 60).floor
                      - mins = total % 60
                      %b= "#{hrs.to_s.rjust(2,'0')}:#{mins.to_s.rjust(2,'0')}"
                  - if (current_user.has_role?('presenze e orari') || current_user.has_role?(:admin) || current_user.has_role?('amministratore officina') || current_user.has_role?('visione ore officina'))
                    .row
                      .col-sm-12
                        - pr = PresenceRecord.where(date: @date, person: person).order(set_day_time: :asc).first
                        - if pr.nil?
                          %b= "Non sono presenti timbrature"
                        - else
                          %b= "#{pr.set_day_time_label}"
                    .row
                      .col-sm-12
                        - ws = WorkingSchedule.get_schedule(@date,person)
                        - if ws.nil?
                          %b= "Non è stato concordato un orario per questa giornata."
                        - else
                          %b= ws.expected_hours_label
                .col-sm-2
                - if (current_user.has_role?('presenze e orari') || current_user.has_role?(:admin) || current_user.has_role?('amministratore officina'))
                  .col-sm-3{style: 'background-color: #ffa'}
                    .row
                      .col-sm-12{ style: 'text-align: center;'}
                        = 'Conferma tutte le ore:'
                    .row
                      .col-sm-6
                        = check_box_tag 'massive_chief_approval', {date: @date, name: @name, from: 'chief', ids: ts.map { |t| t.id }}.to_json, false, class: 'form-control ajax-caller massive', data: {route: set_all_time_approvals_path}
                      .col-sm-6
                        = check_box_tag 'massive_hr_approval', {date: @date, name: @name, from: 'hr', ids: ts.map { |t| t.id }}.to_json, false, class: 'form-control ajax-caller massive', data: {route: set_all_time_approvals_path}



:javascript

  $('body').on('click','.panel-title',function(){
    $('input[name=name]').val($(this).data('name'));
    var opts = JSON.parse($('.massive').first().val());
    opts['name'] = $(this).data('name');
    $('.massive').val(JSON.stringify(opts));
    console.log(JSON.parse($('.massive').val()));
  });
  deactivateLoadingScreen();
