%b= "Richiesta #{@application.type}"
%br
%br
= "Il #{@application.date}, #{@application.person} ha richiesto #{@application.type} #{@application.when}."

%br
%br
= "Questa è una mail automatica interna. Non rispondere direttamente a questo indirizzo."
%br
= "In caso di problemi scrivere a ufficioit@chiarcosso.com o contattare direttamente l'amministratore del sistema."
