-# .container-fluid
- if @transportDocument.nil?
  %h3= 'Inserimento libero'
  - path = add_item_to_storage_path(format: :js)
-else
  %h3= 'Ordine / DDT dinamico'
  - path = add_item_to_order_path(format: :js)

= form_tag(path, method: :post, remote: true, type: :script, id: :dyn_ddt) do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  - unless @transportDocument.nil?
    .row
      .col-sm-3
        = label_tag "Numero DDT"
        = text_field_tag "order[transportDocument]", @transportDocument.number, class: 'form-control'
      .col-sm-3
        = label_tag "Fornitore"
        = select_tag "order[supplier]", options_from_collection_for_select(Company.all, :id, :name, {:selected => @order.supplier.nil?? nil : @order.supplier.id}), class: 'form-control'
      .col-sm-3
        = label_tag "Vettore"
        = select_tag "order[vector]", options_from_collection_for_select(Company.all, :id, :name, {:selected => @transportDocument.vector.nil?? nil : @transportDocument.vector.id}), :include_blank => 'Destinatario', :selected => @transportDocument.vector, class: 'form-control'
      .col-sm-3
        = label_tag "Data acquisto"
        = text_field_tag "order[purchaseDate]", (l @transportDocument.date), placeholder: 'Data acquisto', class: 'form-control', 'data-behavior' => 'datepicker'
  - unless @vehicle.nil?
    -# .row
    -#   .col-sm-4
    -#     = label_tag "Mezzo"
    -#     = select_tag :vehicle, options_from_collection_for_select(Vehicle.all, :id, :complete_name), :include_blank => 'Mezzo', class: 'form-control'
  .row
    .col-sm-4
      .field
        = text_field_tag 'barcode', '', placeholder: 'Codice a barre', class: 'form-control input-row', id: 'barcode-items', :options => { autofocus: true }
    .col-sm-4
      .field
        = select_tag "article", options_from_collection_for_select(Article.no_barcode, :id, :complete_name, :include_blank => 'Seleziona articolo'), class: 'form-control input-row'
    .col-sm-1
      .field
        = submit_tag ">", class: 'form-control'
  .row
    .col-sm-3
      .col-sm-2
        %b='Elim.'
      .col-sm-10
        %b='Articolo'
    .col-sm-2
      .col-sm-6
        %b='Prezzo'
      .col-sm-6
        %b='Sconto'
    .col-sm-2
      %b='Seriale'
    .col-sm-1
      %b='Stato'
    .col-sm-2
      %b='Scadenza'
    .col-sm-2
      .col-sm-6
        %b='Qt. cont.'
      .col-sm-6
        %b='Colli'
  .scrollable-panel{id: 'items-container'}
    - unless @items.empty?
      - max_price = GeneralParameter.find_by_parameter('magazzino_limite_superiore_percentuale_prezzo').value
      - min_price = GeneralParameter.find_by_parameter('magazzino_limite_inferiore_percentuale_prezzo').value
      - max_discount = GeneralParameter.find_by_parameter('magazzino_limite_superiore_percentuale_sconto').value
      - min_discount = GeneralParameter.find_by_parameter('magazzino_limite_inferiore_percentuale_sconto').value
      - @items.each_with_index do |i,k|
        .row
          .item_box{'id': 'box-'+k.to_s}
            .row-fluid
              .col-sm-3
                .col-sm-2
                  .btn{class: 'btn-danger remove_item', id: k}="x"
                .col-sm-10
                  = select_tag "items[#{k}][article]", options_from_collection_for_select(Article.where("barcode = '#{i.article.barcode}'"), :id, :complete_name, :selected => i.article.id), class: 'form-control input-row'
              .col-sm-2
                .col-sm-6
                  = text_field_tag "items[#{k}][price]", i.price, placeholder: 'Prezzo', class: 'form-control input-row checkvalue', data: {reference: i.price, label: "Il nuovo prezzo", max: max_price, min: min_price}
                .col-sm-6
                  = text_field_tag "items[#{k}][discount]", i.discount, placeholder: 'Sconto %', class: 'form-control input-row checkvalue', data: {reference: i.discount, label: "Il nuovo sconto", max: max_discount, min: min_discount}
              .col-sm-2
                = text_field_tag "items[#{k}][serial]", i.serial, placeholder: 'N. seriale / Matricola', class: 'form-control input-row'
              .col-sm-1
                = select_tag "items[#{k}][state]", options_for_select(Item.states, :selected => Item.states[i.state]), class: 'form-control input-row'
              .col-sm-2
                = text_field_tag "items[#{k}][expiringDate]", i.expiringDate ? (l i.expiringDate) : nil, placeholder: 'Data scadenza', class: 'form-control input-row', 'data-behavior' => 'datepicker', 'data-nodefault' => 'true'
              .col-sm-2
                .col-sm-6
                  %b= "#{i.article.containedAmount.to_i == i.article.containedAmount ? i.article.containedAmount.to_i : i.article.containedAmount} #{i.article.measure_unit}"
                .col-sm-6
                  = number_field_tag "items[#{k}][amount]", i.amount, step: :any, class: 'form-control input-row'

      -# .container-fluid
        -# .row-fluid
        -#   .col-sm-4
  .actions.bottom-box
    = submit_tag (@transportDocument.nil?? "Conferma" : "Conferma ordine / DDT")

- if @newArticle
  .popup
    .close='Chiudi'
    %br
    %br
    #articles_content.scrollable-panel
      %b='Nuovo articolo'
      =render :partial => 'articles/form'

- unless @registeredItems.nil?
  .popup
    .close='Chiudi'
    .container
      %b='Posiziona gli articoli'
      = text_field_tag :code, '', placeholder: "Scansionare l'articolo", class: 'autofocus-store', id: 'store-row'


    .container-fluid.scrollable-panel{id: 'items-container'}
      - unless @registeredItems.empty?
        - @registeredItems.each_with_index do |i,k|
          .row
            .col-sm-12
              .store-box{'data-id': i.actualBarcode}
                .container-fluid
                  = form_tag(store_item_path, method: :post, remote: true, type: :script, id: :store_items) do |f|
                    = hidden_field_tag 'store[items_to_store]', i.actualItems
                    -# - i.actualItems.each do |si|
                    -#   = hidden_field_tag 'store[items_to_store]', si
                    .row-fluid
                      .col-sm-10
                        %b= i.article.complete_name + (i.serial.to_s.size == 0 ? '' : '  ('+i.serial+')')
                        %div= i.complete_price
                        %div= i.amount
                        -# %div= i.inspect
                        -# %div= i.actualItems
                        %div= i.actualBarcode
                      .col-sm-2
                        = text_field_tag 'store[position_code]', i.position_code.code, placeholder: 'Posizione', class: 'form-control position_code'

:javascript

  init();
  domInit();
  $('[data-behavior=datepicker]').datepicker({
    language: "it",
    autoclose: true,
    todayHighlight: true,
    setValue: ($(this).data('no-default')=='true'?'':today())
  });

  $('form').submit(function(e){
    alert();
  })
  //alert($('[data-behaviour~=datepicker]').data('behavior'));
  //$('[data-behaviour=datepicker]').datepicker();
