%h1 Listing items

%table
  %thead
    %tr
      %th Article
      %th Purchasedate
      %th Price
      %th Price
      %th Discount
      %th Discount
      %th Seral
      %th State
      %th Notes
      %th Expiringdate
      %th Transportdocument
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.article
        %td= item.purchaseDate
        %td= item.price
        %td= item.price
        %td= item.discount
        %td= item.discount
        %td= item.seral
        %td= item.state
        %td= item.notes
        %td= item.expiringDate
        %td= item.transportDocument
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
