
.row
  .col-sm-4
    %b= "Sessione controlli nr. #{@check_session.id} - #{@check_session.destination_label}"
  .col-sm-2
    %b= "Ultimo valore"
  .col-sm-2
    %b= "Lettura"
  .col-sm-1
    %b= "Eseguito"
  .col-sm-2
    %b= "Note"
.scrollable-panel#scroll-element
  = render partial: 'carwash/check_view'

.row
  .col-sm-12
    .col-sm-1
      = button_to 'Pausa sessione', carwash_checks_path, method: :get
    .col-sm-3
      = "Tempo teorico: #{@check_session.theoretical_duration_label}"
    .col-sm-3
      #timer{'data-time': @check_session.real_duration.to_i}
        = "Tempo reale: #{@check_session.real_duration_label}"
    .col-sm-2
      = form_tag(save_check_session_path(@check_session.id), method: :post, remote: true, class: 'no-cr') do |f|
        = hidden_field_tag :time, @check_session.real_duration.to_i
        = submit_tag 'Concludi sessione', class: 'no-cr'

:javascript

  // $('#line').trigger('click');

  var timer;
  var tm = parseInt($('#timer').data('time'));
  clearInterval(timer);
  timer = setInterval(function(){
    tm++;
    $('[data-additional]').data('additional',tm);
    $('input[name=time]').val(tm);
    $('#timer').html('Tempo reale: '+('0'+Math.floor(tm/3600)).slice(-2)+':'+('0'+Math.floor((tm/60)%60)).slice(-2)+':'+('0'+(tm%60)).slice(-2));
  },1000);
