.tabbable
  .row
    %ul.nav.nav-tabs
      - @checks.each do |k,v|
        -# %style
        -#   a:visited,a:link,a:hver,a:active{ color: black; font-style: normal; font-size: +2; }
        - if @tab.nil?
          - if v == @checks.values.first
            - active = 'active'
          - else
            - active = ''
        - else
          - if @tab == k
            - active = 'active'
          - else
            - active = ''
        %li{ class: active}
          =link_to k, '#tab-'+k.tr(' ','_'), data: { toggle: 'tab'}, class: 'no-loader'

    .col-sm-3
      %b= "Sessione controlli nr. #{@check_session.id} - #{@check_session.destination_label} - Fatti #{@checks.map{ |k,c| c.select{ |cc| cc.performed }.size}.inject(:+)}/#{@checks.map{ |k,c| c.size}.inject(:+)} "
    .col-sm-1
      =button_tag 'i', class: 'infobox-button no-loader', data: { target: info_vehicle_path(@check_session.vehicle.id), name: "infobox_vehicle_#{@check_session.vehicle.id}" }
      =button_tag 'o', class: 'infobox-button no-loader', data: { target: info_vehicle_workshop_path(@check_session.vehicle.id), name: "infobox_vehicle_workshop_#{@check_session.vehicle.id}" }
    .col-sm-2
      %b= "Ultimo valore"
    .col-sm-2
      %b= "Lettura"
    .col-sm-2
      %b= "Eseguito"
    .col-sm-2
      %b= "Note"

  .row
    .tab-content
      - @checks.each do |k,v|
        - if v == @checks.values.first
          - active = ' active'
        - else
          - active = ''
        %div{style: 'height:100%', id: 'tab-'+k.tr(' ','_'), class: 'tab-pane'+active}
          .scrollable-panel#scroll-element
            = render partial: 'carwash/check_view', locals: {list: v}

.row
  .col-sm-12
    .col-sm-2
      = button_to 'Pausa sessione', carwash_checks_path, method: :get
    .col-sm-2
      = "Tempo teorico: #{@check_session.theoretical_duration_label}"
    .col-sm-2
      #timer{'data-time': @check_session.real_duration.to_i}
        = "Tempo reale: #{@check_session.real_duration_label}"
    .col-sm-2
      = form_tag(save_check_session_path(@check_session.id), method: :post, remote: true, class: 'no-cr') do |f|
        = hidden_field_tag :time, @check_session.real_duration.to_i
        = submit_tag 'Concludi sessione', class: 'no-cr'

:javascript

  // $('#line').trigger('click');

  var timer;
  var tm = parseInt($('#timer').data('time'));
  clearInterval(timer);
  timer = setInterval(function(){
    tm++;
    $('[data-additional]').data('additional',tm);
    $('input[name=time]').val(tm);
    $('#timer').html('Tempo reale: '+('0'+Math.floor(tm/3600)).slice(-2)+':'+('0'+Math.floor((tm/60)%60)).slice(-2)+':'+('0'+(tm%60)).slice(-2));
  },1000);
