- @check_sessions.each do |cs|
  .row.colored
    .col-sm-1
      - if current_user.has_role?('amministratore lavaggio') || current_user.has_role?(:admin)
        = button_to 'X', delete_check_session_path(cs.id), remote: true, 'data-confirm': "Eliminare la sessione nr. #{cs.myofficina_reference} e tutti i controlli relativi?", class: 'loading_screen'
    .col-sm-2
      %b= 'Sessione: '+cs.myofficina_reference.to_s
      %br
      = 'Segnalazioni: '+cs.vehicle_performed_checks.reject{ |vc| vc.myofficina_odl_reference.nil? }.map{ |vc| vc.myofficina_odl_reference }.uniq.join(",")
    .col-sm-1
      -# - byebug if cs.actual_vehicle.nil?
      - if current_user.has_role?('amministratore lavaggio') || current_user.has_role?(:admin) || cs.finished.nil?
        -# = form_tag(continue_check_session_path(cs.id), method: :post, remote: true) do |f|
        - unless cs.nil? || cs.myofficina_reference.nil?
          = form_tag(open_worksheet_path(cs.myofficina_reference), method: :post, remote: true) do |f|
            = hidden_field_tag :station, 'carwash'
            = submit_tag (cs.finished.nil?? 'Continua' : 'Riapri'), 'data-confirmation': "#{cs.finished.nil?? 'Continuare' : 'Riprendere'} la sessione nr. #{cs.myofficina_reference} (#{cs.actual_vehicle.complete_name})?", class: 'loading_screen'
    .col-sm-1
      = link_to cs.actual_vehicle.plate, vehicles_path(search: cs.actual_vehicle.plate)
    .col-sm-2
      = "#{cs.vehicle_performed_checks.performed.size}/#{cs.vehicle_performed_checks.size} eseguiti."
      - if cs.vehicle_performed_checks.fixed.size > 0
        %br
        = "#{cs.vehicle_performed_checks.fixed.size} aggiustati"
      -  if cs.vehicle_performed_checks.unfixed.size > 0
        %br
        = "#{cs.vehicle_performed_checks.unfixed.size} non a posto"
      -  if cs.vehicle_performed_checks.blocking.size > 0
        %br
        = "#{cs.vehicle_performed_checks.blocking.size} bloccanti"
    .col-sm-2
      = cs.created_at.strftime "%d/%m/%Y\n%H:%M:%S" unless cs.created_at.nil?
    .col-sm-2
      = cs.finished.strftime "%d/%m/%Y\n%H:%M:%S" unless cs.finished.nil?
