%h3='Lavaggi aperti'
.container{style: 'height: 10%'}
  .row
    .col-sm-3
      %b
        Autista
    .col-sm-3
      %b
        Mezzi
    .col-sm-2
      %b
        Pista
    .col-sm-2
      %b
        Inizio
    .col-sm-2
      %b
        Sessione
  .scrollable-panel
    - CarwashUsage.opened.order(:starting_time => :asc).each do |c|
      .row.colored
        .col-sm-3
          - if !c.carwash_special_code.nil?
            = c.carwash_special_code.label
          - else
            = c.person.complete_name unless c.person.nil?
        .col-sm-3
          = c.vehicle_1.plate unless c.vehicle_1.nil?
          = c.vehicle_2.plate unless c.vehicle_2.nil?
        .col-sm-2
          = c.row
        .col-sm-2
          = c.starting_time.strftime('%d/%m/%Y %H:%M:%S')
        .col-sm-2
          = c.session_id

%h3='Lavaggi ultimo mese'
.container{style: 'height: 90%'}
  .row
    .col-sm-3
      %b
        Autista
    .col-sm-3
      %b
        Mezzi
    .col-sm-1
      %b
        Pista
    .col-sm-2
      %b
        Inizio
    .col-sm-1
      %b
        Tempo
    .col-sm-2
      %b
        Fine
  .scrollable-panel
    - @carwash_usages.each do |c|
      .row.colored
        .col-sm-3
          - if !c.carwash_special_code.nil?
            = c.carwash_special_code.label
          - else
            = c.person.complete_name unless c.person.nil?
        .col-sm-3
          = c.vehicle_1.plate unless c.vehicle_1.nil?
          = c.vehicle_2.plate unless c.vehicle_2.nil?
        .col-sm-1
          = c.row
        .col-sm-2
          = c.starting_time.strftime('%d/%m/%Y %H:%M:%S')
        .col-sm-1
          = "#{((c.ending_time - c.starting_time)/3600).floor.to_s.rjust(2,'0')}:#{(((c.ending_time - c.starting_time)%3600)/60).floor.to_s.rjust(2,'0')}:#{((c.ending_time - c.starting_time)%60).to_i.to_s.rjust(2,'0')}"
        .col-sm-2
          = c.ending_time.strftime('%d/%m/%Y %H:%M:%S')

:javascript

  var interval = setTimeout(window.location.reload.bind(window.location),10*60*1000);
