%h3='Lavaggi aperti'
.container.half.scrollable-panel
  .row
    .col-sm-3
      %b
        Autista
    .col-sm-3
      %b
        Mezzi
    .col-sm-2
      %b
        Pista
    .col-sm-2
      %b
        Inizio
    .col-sm-2
      %b
        Sessione
  - CarwashUsage.opened.order(:starting_time => :asc).each do |c|
    .row.colored
      .col-sm-3
        - if !c.carwash_special_code.nil?
          = c.carwash_special_code.label
        - else
          = c.person.complete_name unless c.person.nil?
      .col-sm-3
        = c.vehicle_1.plate unless c.vehicle_1.nil?
        = c.vehicle_2.plate unless c.vehicle_2.nil?
      .col-sm-2
        = c.row
      .col-sm-2
        = l(c.starting_time)
      .col-sm-2
        = c.session_id

%h3='Lavaggi ultimo mese'
.container.half.scrollable-panel
  .row.colored
    .col-sm-3
      %b
        Autista
    .col-sm-3
      %b
        Mezzi
    .col-sm-2
      %b
        Pista
    .col-sm-2
      %b
        Inizio
    .col-sm-2
      %b
        Fine
  - CarwashUsage.lastmonth.limit(30).order(:ending_time => :desc).each do |c|
    .row
      .col-sm-3
        - if !c.carwash_special_code.nil?
          = c.carwash_special_code.label
        - else
          = c.person.complete_name unless c.person.nil?
      .col-sm-3
        = c.vehicle_1.plate unless c.vehicle_1.nil?
        = c.vehicle_2.plate unless c.vehicle_2.nil?
      .col-sm-2
        = c.row
      .col-sm-2
        = l(c.starting_time)
      .col-sm-2
        = l(c.ending_time)
