
.row
  .col-sm-3
    #vehicle_type
      = render :partial => 'vehicles/vehicle_types'
    #vehicle_typology
      = render :partial => 'vehicles/vehicle_typologies'
    #vehicle_model
      = render :partial => 'vehicles/vehicle_models'
    .field
      %b= 'Serie'
      = text_field_tag 'vehicle[serie]', @vehicle.serie, class: 'form-control'
    .field
      %b='Prima immatricolazione'
      = text_field_tag 'vehicle[registration_date]', @vehicle.registration_date.nil?? '' : (l @vehicle.registration_date), class: 'form-control', 'data-behavior' => 'datepicker'
    .field
      %b='Codice lavaggio'
      = number_field_tag 'vehicle[carwash_code]', @vehicle.carwash_code, class: 'form-control'
    .field
      %b='Dismesso'
      = check_box_tag 'vehicle[dismissed]', 1, @vehicle.dismissed
  .col-sm-4
    .field
      %b= 'Proprietà'
      = text_field_tag 'vehicle[property]', (@vehicle.property.nil?? Company.propertyChoice.name : @vehicle.property.name), data: { autocomplete: autocomplete_company_name_articles_path }, class: 'form-control autofocus'
    #vehicle_information.scrollable-panel
      = render :partial => 'vehicles/vehicle_information'
    .field
      %b= 'Note'
      = text_area_tag 'vehicle[notes]', @vehicle.notes, class: 'form-control'
  .col-sm-3
    #vehicle_equipment.half.scrollable-panel
      = render :partial => 'vehicles/vehicle_equipment'
    #vehicle_gear.half.scrollable-panel
      = render :partial => 'vehicles/vehicle_gear'
.actions
  %br
  %br
  .inline.form-contol
    = submit_tag 'Aggiorna', class: 'form-control inline'
  .inline.form-contol
    = link_to 'Indietro', vehicles_path, class: 'form-control inline'

:javascript

  activateDatePicker();
