%center
  %b='Modifica mezzo: '+@vehicle.plate
  %br
  %br


  .contaner
    .col-sm-6
      .row.no-margins
        = form_tag(vehicle_new_plate_path, method: :post, remote: true) do |f|
          .col-sm-7.no-margins
            %b= 'Targa attuale'
            = text_field_tag "informations[#{@vehicle.last_information(VehicleInformationType.plate).id}][id]", @vehicle.last_information(VehicleInformationType.plate).information, class: 'form-control'
          .col-sm-4.no-margins
            %b= 'dal'
            = date_field_tag "informations[#{@vehicle.last_information(VehicleInformationType.plate).id}][date]", @vehicle.last_information(VehicleInformationType.plate).date, class: 'form-control'
          .col-sm-1.no-margins
            = submit_tag 'Cambia', class: 'form-contol'
      .row.no-margins
        = form_tag(vehicle_new_chassis_path, method: :post, remote: true) do |f|
          .col-sm-7.no-margins
            %b= 'Numero telaio attuale'
            = text_field_tag "informations[#{@vehicle.last_information(VehicleInformationType.chassis).id}][id]", @vehicle.last_information(VehicleInformationType.chassis).information, class: 'form-control'
          .col-sm-4.no-margins
            %b= 'dal'
            = date_field_tag "informations[#{@vehicle.last_information(VehicleInformationType.chassis).id}][date]", @vehicle.last_information(VehicleInformationType.chassis).date, class: 'form-control'
          .col-sm-1.no-margins
            = submit_tag 'Cambia', class: 'form-contol'
      .row.no-margins
        = form_tag(vehicle_new_information_path, method: :post, remote: true) do |f|
          .col-sm-3.no-margins
            %b= 'Agg. dettaglio'
            = text_field_tag 'new_information[vehicle_information_type]', nil, placeholder: 'Tipo dettaglio..', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_information_type_autocomplete_path(@vehicle.id), target: 'Vehicle' }
            -# = hidden_field_tag 'new_information[vehice_information_type_id]', @vehicle.property.id, data: { target: 'Vehicle' }, class: 'autocomplete-field ac-Vehicle-property'
          .col-sm-4.no-margins
            %b= 'Valore'
            = text_field_tag "new_information[information]", nil, class: 'form-control'
          .col-sm-4.no-margins
            %b= 'dal'
            = date_field_tag "new_information[date]", Date.current, class: 'form-control'
          .col-sm-1.no-margins
            = submit_tag 'Agg.', class: 'form-contol'
            %br
      .row.no-margins
        .col-sm-12#vehicle_information.scrollable-panel{ style: 'padding-right: 2em;' }
          = render :partial => 'vehicles/vehicle_informations'
    = form_tag(update_vehicle_path, name: :update_form, method: :post, remote: true) do |f|
      = hidden_field_tag :search, @search
      = hidden_field_tag :id, @vehicle.id
      .bottom-box{style: 'right: 3em'}
        = submit_tag 'Aggiorna', class: 'btn inline'
      .col-sm-3
        .scrollable-panel
          .row.no-margins
            .col-sm-12
              %b= 'Proprietà'
              -# = text_field_tag 'vehicle[property]', (@vehicle.property.nil?? Company.propertyChoice.name : @vehicle.property.name), data: { autocomplete: autocomplete_company_name_articles_path }, class: 'form-control autofocus'
              = text_field_tag 'vehicle[property]', @vehicle.property.name, placeholder: 'Cerca proprietà..', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_property_autocomplete_path, target: 'Vehicle' }
              = hidden_field_tag 'vehicle[manufacturer_id]', @vehicle.property.id, data: { target: 'Vehicle' }, class: 'autocomplete-field ac-Vehicle-property'
          .row.no-margins
            .col-sm-12#vehicle_type
              = render :partial => 'vehicles/vehicle_types'
          .row.no-margins
            .col-sm-12#vehicle_typology
              = render :partial => 'vehicles/vehicle_typologies'
          .row.no-margins
            .col-sm-12#vehicle_model
              = render :partial => 'vehicles/vehicle_models'
          .row.no-margins
            .col-sm-12
              %b= 'Serie'
              = text_field_tag 'vehicle[serie]', @vehicle.serie, class: 'form-control'
          .row.no-margins
            .col-sm-12
              %b='Prima immatricolazione'
              = date_field_tag 'vehicle[registration_date]', @vehicle.registration_date.nil?? '' : (l @vehicle.registration_date), class: 'form-control', 'data-behavior' => 'datepicker'
          .row.no-margins
            .col-sm-12
              %b='Codice lavaggio'
              = select_tag 'vehicle[carwash_code]', options_for_select(Vehicle.carwash_codes, Vehicle.carwash_codes[@vehicle.carwash_code]), class: 'form-control'
          .row.no-margins
            .col-sm-12
              %b='Dismesso'
              = check_box_tag 'vehicle[dismissed]', 1, @vehicle.dismissed
          .row.no-margins
            .col-sm-12
              %b= 'Note'
              = text_area_tag 'vehicle[notes]', @vehicle.notes, class: 'form-control'



      .col-sm-3
        .row
          .col-sm-12
            #vehicle_equipment.half.scrollable-panel
              = render :partial => 'vehicles/vehicle_equipment'
        .row
          .col-sm-12
            #vehicle_equipment.half.scrollable-panel
              = render :partial => 'vehicles/vehicle_gear'

-# .row.no-margins
-#   .col-sm-12
-#     = submit_tag 'Aggiorna', class: 'btn inline bottom'

:javascript

  // activateClose();
  activateCustomAutocomplete(function(element){
    return $(element).data();
  });

-# .row
-#   .col-sm-3
-#
-#   .col-sm-4
-#
-#   .col-sm-3
-#     #vehicle_equipment.half.scrollable-panel
-#       = render :partial => 'vehicles/vehicle_equipment'
-#     #vehicle_gear.half.scrollable-panel
-#       = render :partial => 'vehicles/vehicle_gear'
-# .actions.bottom-box
-#   .inline.form-contol
-#     = hidden_field_tag :search, @search
-#     = submit_tag 'Aggiorna', class: 'btn inline'
-#   .inline.form-contol
-#     = link_to 'Indietro', vehicles_path(search: @search), class: 'form-control btn inline'
-#
-# :javascript
-#
-#   activateDatePicker();
