-# %div{style: 'width: 90vh; padding: 0px'}
.small-title="#{@vehicle.model.nil? ? 'N/D' : @vehicle.model.complete_name } (#{@vehicle.registration_model}) - #{@vehicle.plate} - #{@vehicle.actual_property.nil?? 'N/D' : @vehicle.actual_property.owner.complete_name}"
%b= "#{@vehicle.vehicle_type.name}#{@vehicle.vehicle_category == VehicleCategory.not_available ? '' : " ("+@vehicle.vehicle_category.name+")"} (cat. #{@vehicle.vehicle_category.name}), #{@vehicle.vehicle_typology.name}, Km: #{@vehicle.mileage}"
%br
%b= "Ultimo autista: "
= @vehicle.last_driver.nil? ? 'N/A' : @vehicle.last_driver.list_name
%br
.row.no-margins
  .col-sm-6
    %div
      - history = @vehicle.owners_history
      .infobox-block{data: {expand: (history.size > 0).to_json}}
        %b= "Proprietà: #{@vehicle.actual_property.owner.complete_name}"
        - if history.size > 0
          %span{style: 'color: #44f'}
            (Storico)
          - history.each do |h|
            %br
            = h.owner.complete_name
            = "dal: #{h.date_since.nil? ? '' : (I18n.l h.date_since)}, al: #{h.date_to.nil? ? '' : (I18n.l h.date_to)}"
  .col-sm-4
    %b= "Access: "
    -@vehicle.mssql_references.each do |mr|
      = mr.remote_object_table
      = mr.remote_object_id
  .col-sm-2
    %b= @vehicle.last_gps_label
.row.no-margins
  .col-sm-12
    %div
      %b="Attrezzature: "
      =@vehicle.vehicle_equipments.pluck(:name).join(', ')
.row.no-margins
  .col-sm-12
    %b="Dettagli: "
    .scrollable-panel
      - @vehicle.last_vehicle_informations.each do |i|
        .floating-block
          - history = i.history
          .infobox-block{data: {expand: (history.size > 0).to_json}}
            %b= "#{i.vehicle_information_type.name}: "

            = i.information_label
            - if history.size > 0
              %span{style: 'color: #44f'}
                (Storico)
              - history.each do |h|
                %br
                = h.information_label
                = "dal: #{I18n.l h.date}, al: #{I18n.l h.date_to}"

.close
  Chiudi
