
%h3="#{@vehicle.model.nil? ? 'N/D' : @vehicle.model.complete_name}  (#{@vehicle.registration_model}) - #{@vehicle.plate}"
%b= "#{@vehicle.vehicle_type.name}, #{@vehicle.vehicle_typology.name}"
%br
%b= "Ultimo autista: "
= @vehicle.last_driver.nil? ? 'N/A' : @vehicle.last_driver.list_name
%br
%b="Ultimo lavaggio: #{(@vehicle.last_washing.nil? or @vehicle.last_washing.ending_time.nil?)? 'Mai' : @vehicle.last_washing.ending_time.strftime('%d/%m/%Y %H:%M:%S')}"
%br
%b="Schede officina: "
%br


.row
  .col-sm-1
    %b= "ODL nr."
  .col-sm-2
    %b= "Data entrata"
  .col-sm-8
    %b= "Descrizione"
  .col-sm-1
    %b= "PDF"
.scrollable-panel{style: 'height: 45vh; width: 80vw;'}
  - @vehicle.all_worksheets.each do |ws|
    .row{ style: 'background-color: #aaa'}
      .col-sm-1
        %b= "#{ws[:odl]['Protocollo']}"
      .col-sm-2
        %b= "#{ws[:odl]['DataEntrataVeicolo']}"
      .col-sm-6
        %b="#{ws[:odl]['Note']}"
      .col-sm-2
        = ws[:odl]['NomeOfficina']
      .col-sm-1
        = button_to 'PDF', worksheet_get_pdf_path(ws[:ws].id,format: :pdf), class: 'no-loader btn-small'
    -# - ws.notifications.each do |n|
      .row.colored
        .col-sm-2
          %b=n['TipoDanno']
        .col-sm-10
          = "#{n['DescrizioneSegnalazione']}"
      - WorkshopOperation.where(myofficina_reference: n['Protocollo'].to_i).each do |wo|
        .row
          .col-sm-1
          .col-sm-11
            = wo.name
.close
  Chiudi
