%div{style: 'width: 90vh; padding: 0px'}
  %h3="#{@vehicle.model.complete_name} - #{@vehicle.plate}"
  %b
    = "#{@vehicle.vehicle_type.name}#{@vehicle.vehicle_category == VehicleCategory.not_available ? '' : " ("+@vehicle.vehicle_category.name+")"}, #{@vehicle.vehicle_typology.name}"
  .row.no-margins
    .col-sm-6
      %b="Dettagli: "
      .scrollable-panel
        - @vehicle.vehicle_informations.each do |i|
          %div{style: 'white-space: nowrap'}
            %b= "#{i.vehicle_information_type.name}: "
            = i.information
    .col-sm-6
      %b="Attrezzatura: "
      .scrollable-panel
        - @vehicle.vehicle_equipments.each do |e|
          = e.name
