%h3='Crea mezzo: '

.row.no-margins

  = form_tag(vehicles_path, name: :create_form, method: :post, remote: true) do |f|
    = hidden_field_tag :search, @search
    .bottom-box
      .inline
        = submit_tag 'Aggiorna', class: 'btn inline'
      .inline
        = link_to 'Indietro', vehicles_path(search: @search), class: 'btn'
    .col-sm-3
      .scrollable-panel
        .row.no-margins
          .col-sm-12
            %b= 'Proprietà'
            -# = text_field_tag 'vehicle[property]', (@vehicle.property.nil?? Company.propertyChoice.name : @vehicle.property.name), data: { autocomplete: autocomplete_company_name_articles_path }, class: 'form-control autofocus'
            = text_field_tag 'vehicle[property]', nil, placeholder: 'Cerca proprietà..', class: 'form-control custom_autocomplete', data: { route: custom_vehicle_property_autocomplete_path, target: 'Vehicle' }
            -# = hidden_field_tag 'vehicle[manufacturer_id]', @vehicle.property.id, data: { target: 'Vehicle' }, class: 'autocomplete-field ac-Vehicle-property'
        .row.no-margins
          .col-sm-12#vehicle_type
            = render :partial => 'vehicles/vehicle_types'
        .row.no-margins
          .col-sm-12#vehicle_category
            = render :partial => 'vehicles/vehicle_categories'
        .row.no-margins
          .col-sm-12#vehicle_typology
            = render :partial => 'vehicles/vehicle_typologies'
        .row.no-margins
          .col-sm-12#vehicle_model
            = render :partial => 'vehicles/vehicle_models'
        .row.no-margins
          .col-sm-12
            %b= 'Chilometraggio'
            = number_field_tag 'vehicle[mileage]', nil, class: 'form-control'
        .row.no-margins
          .col-sm-12
            %b= 'Serie'
            = text_field_tag 'vehicle[serie]', nil, class: 'form-control'
        .row.no-margins
          .col-sm-12
            %b='Prima immatricolazione'
            = date_field_tag 'vehicle[registration_date]', nil, class: 'form-control', 'data-behavior' => 'datepicker'
        .row.no-margins
          .col-sm-12#vehicle_carwash_code
            = render :partial => 'vehicles/vehicle_carwash_codes'
        .row.no-margins
          .col-sm-12
            %b='Dismesso'
            = check_box_tag 'vehicle[dismissed]', 1, nil
        .row.no-margins
          .col-sm-12
            %b= 'Note'
            = text_area_tag 'vehicle[notes]', nil, class: 'form-control'



    .col-sm-2
      .row
        .col-sm-12
          %b= 'Attrezzatura'
          #vehicle_equipment.scrollable-panel
            = render :partial => 'vehicles/vehicle_equipment'
      -# .row
      -#   .col-sm-12
      -#     #vehicle_equipment.half.scrollable-panel
      -#       = render :partial => 'vehicles/vehicle_gear'
    .col-sm-7#all_vehicle_informations
      .row.no-margins
        =render :partial => 'vehicles/all_vehicle_informations'

:javascript

  activateCustomAutocomplete(function(element){
    return $(element).data();
  });
