%h4= "Chiudere scheda del #{@worksheet.vehicle.plate} (nr. #{@worksheet.number})?"
= form_tag( save_worksheet_path(@worksheet.number), remote: true, method: :post) do |f|
  -# = text_field_tag :notes, nil, placeholder: 'Note..', class: 'form-control', id: 'focus_element', style: 'width: 80vw;'
  - if @worksheet.invoicing
    = "Da fatturare a #{@worksheet.customer_label}"
  - else
    = check_box_tag :invoice, true, false
    = "Da fatturare?"
  = hidden_field_tag :action, :stop
  = hidden_field_tag :perform, :stop
  = hidden_field_tag :station, station
  %br
  %br
  %br
  %br
  = submit_tag :ok, class: 'exit_page'
