%h4= "Sposta segnalazione"
=description
= form_tag( deassociate_workshop_notification_path(@worksheet.number), remote: true, method: :post) do |f|
  = text_field_tag :description, ActiveRecord::Base::sanitize(description).chomp("'").reverse.chomp("'").reverse, placeholder: 'Descrizione..', class: 'form-control', id: 'focus_element', style: 'width: 80vw;'
  = hidden_field_tag :protocol, protocol
  = hidden_field_tag :year, year
  = hidden_field_tag :damage_type, damage_type
  %br
  = check_box_tag :external_workshop, 1, nil
  Offcina esterna
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  -# = radio_button_tag :workshop, EurowinController::get_workshop(:workshop)
  -# Officina interna
  -# %br
  -# = radio_button_tag :workshop, nil
  -# Officina esterna
  = submit_tag :ok, class: 'form-control'
