- worksheets.each_with_index do |ws,i|
  - @vehicle = ws.vehicle if i == 0
  -# .row.colored.hilight.selectable.ajax-link{ data: { sbox: "#sbox-#{ws.id}", method: :post, target: info_for_workshop_path(id: ws.vehicle.id) } }
  .row.colored.hilight.selectable.xbox{ data: { data: {protocol: ws.number}.to_json, route: worksheet_notifications_xbox_path, xbox: "#sbox-#{ws.id}" }}
    .col-sm-1
      =button_to ws.number, open_worksheet_path(ws.number), remote: true, class: 'no-ajax-link'
    .col-sm-2
      - op = ws.ew_operator
      = op['Descrizione'] unless op.nil?
    .col-sm-1
      = link_to ws.vehicle.plate, vehicles_path(search: ws.vehicle.plate), class: 'no-ajax-link'
    .col-sm-2
      - v = ws.vehicle
      =button_tag 'c', class: 'infobox-button no-loader', data: { target: info_vehicle_checks_path(v.id), name: "infobox_vehicle_checks_#{v.id}" }
      =button_tag 'i', class: 'infobox-button no-loader', data: { target: info_vehicle_path(v.id), name: "infobox_vehicle_#{v.id}" }
      =button_tag 'o', class: 'infobox-button no-loader', data: { target: info_vehicle_workshop_path(v.id), name: "infobox_vehicle_workshop_#{v.id}" }
    .col-sm-2
      ="#{I18n.l ws.opening_date}" unless ws.opening_date.nil?
    .col-sm-3
      %b=ws.notes
    .sbox{id: "sbox-#{ws.id}", style: "display: none;"}
