#on_processing{ style: 'margin-top: 2em; height: 100%;'}
  .row
    .col-sm-1
    .col-sm-1
      %b='Nr. ODL'
    .col-sm-1
      %b='Manutentore'
    .col-sm-1
      %b='Targa'
    .col-sm-2
      %b='Informazioni'
    .col-sm-1
      %b='Data entrata'
    .col-sm-4
      %b='Note'
  .scrollable-panel
    - Worksheet.on_processing.each do |ws|
      .row.colored.xbox{ data: { data: {protocol: ws.number, area: 'on_processing'}.to_json, route: worksheet_processing_xbox_path, xbox: "#pbox-#{ws.id}" }}
        .col-sm-1
          =button_to 'Apri', open_worksheet_path(ws.number), remote: true, class: 'no-ajax-link'
        .col-sm-1
          %b= ws.number
        .col-sm-1
          - op = ws.ew_operator
          = op['Descrizione'] unless op.nil?
        .col-sm-1
          - v = ws.vehicle
          %b= v.plate#, vehicles_path(search: ws.vehicle.plate), class: 'no-ajax-link'
        .col-sm-2

          =button_tag 'c', class: 'infobox-button no-loader', data: { target: info_vehicle_checks_path(v.id), name: "infobox_vehicle_checks_#{v.id}" }
          =button_tag 'i', class: 'infobox-button no-loader', data: { target: info_vehicle_path(v.id), name: "infobox_vehicle_#{v.id}" }
          =button_tag 'o', class: 'infobox-button no-loader', data: { target: info_vehicle_workshop_path(v.id), name: "infobox_vehicle_workshop_#{v.id}" }
        .col-sm-1
          ="#{I18n.l ws.opening_date}" unless ws.opening_date.nil?
        .col-sm-4
          %b=ws.notes
      .row
        .col-sm-12
          .sbox{id: "pbox-#{ws.id}", style: "display: none;"}

:javascript


  var active_timers = {};

  var timer;

  // $.each($('.timer'),function(){
  //
  //   if(!$(this).data('paused')){
  //     start_timer(/\w*-(\d*)/.exec($(this).attr('id'))[1]);
  //   }
  //
  // });
  //
  // function start_timer(id){
  //   var protocol = $("#start-"+id).data('protocol');
  //   active_timers[id] = $('#timer-'+id).data('time');
  // }
  //
  // function check_disabled_close(){
  //
  //   $('#stop-worksheet').prop('disabled',false);
  //   $.each($('.stop_timer'),function(){
  //     if(!$(this).prop('disabled')){
  //       $('#stop-worksheet').prop('disabled',true);
  //       return;
  //     }
  //   });
  // }
  //
  // var active_timer = null;
  // var active_notification = null;
  // check_disabled_close();
  // leave_page_message = 'Uscire dalla scheda?';
  // window.onbeforeunload = before_leave_event;
  //
  // $('submit, button').on('click',function(){
  //   activateLoadingScreen();
  //   clearInterval(timer);
  // });
  //
  // $('.stop-worksheet').on('click',function(){
  //   if($(this).attr('id') == 'stop-worksheet'){
  //     if(!confirm('Chiudere la scheda?')){
  //       deactivateLoadingScreen();
  //       return;
  //     } else {
  //       window.onbeforeunload = null;
  //     }
  //   }
  //
  //   if($(this).attr('id') == 'pause-worksheet'){
  //     window.onbeforeunload = null;
  //   }
  //
  //
  //   var route = $(this).data('route');
  //   var operation_times = [];
  //   var action = $(this).data('action');
  //   $.each($('.timer'),function(){
  //     var id = /timer-(\d*)/.exec($(this).attr('id'))[1];
  //     if( id == active_notification){
  //       operation_times.push({id: id, time: active_timer});
  //     } else {
  //       operation_times.push({id: id, time: $(this).data('time')});
  //     }
  //   });
  //   var data = { worksheet_duration: tm, operation_times: JSON.stringify(operation_times), perform: action };
  //   $.ajax({
  //     url: route,
  //     method: 'post',
  //     data: data
  //   });
  //
  // });
  //
  // $('.timer_control').on('click',function(){
  //
  //   var id = /start-(\d*)/.exec($(this).attr('id'))[1];
  //   var protocol = $(this).data('protocol');
  //
  //   if($(this).hasClass('start_timer')){
  //
  //     if(!(active_notification === null)){
  //       var route = $('#start-'+active_notification).data('route')[1];
  //       var data = { operation: active_notification, time: active_timer, worksheet_duration: tm };
  //       $.ajax({
  //         url: route,
  //         method: 'post',
  //         data: data
  //       });
  //       $('#timer-'+active_notification).data('time',active_timer);
  //       $('#start-'+active_notification).html('Riprendi');
  //       $('#start-'+active_notification).removeClass('pause_timer');
  //       $('#start-'+active_notification).addClass('start_timer');
  //     }
  //
  //     active_timer = $('#timer-'+id).data('time');
  //     active_notification = id;
  //     $(this).html('Pausa');
  //     $(this).removeClass('start_timer');
  //     $(this).addClass('pause_timer');
  //     $('#stop-'+id).attr('disabled',false);
  //     check_disabled_close();
  //
  //     var route = $(this).data('route')[0];
  //     var data = { operation: id, time: active_timer, worksheet_duration: tm, protocol: protocol };
  //     $.ajax({
  //       url: route,
  //       method: 'post',
  //       data: data
  //     });
  //
  //   } else if($(this).hasClass('pause_timer')){
  //
  //     var route = $(this).data('route')[1];
  //     var data = { operation: id, time: active_timer, worksheet_duration: tm, protocol: protocol };
  //     $.ajax({
  //       url: route,
  //       method: 'post',
  //       data: data
  //     });
  //     $('#timer-'+id).data('time',active_timer);
  //     active_timer = null;
  //     active_notification = null;
  //     $(this).html('Riprendi');
  //     $(this).removeClass('pause_timer');
  //     $(this).addClass('start_timer');
  //
  //   }
  //
  // });
  //
  // var load = null;
  // $('.stop_timer').on('click',function(){
  //   // if(confirm('Chiudere la segnalazione?')){
  //     var id = /stop-(\d*)/.exec($(this).attr('id'))[1];
  //     var route = $(this).data('route');
  //     if(active_timer === null){
  //       var time = parseInt($('#timer-'+id).data('time'));
  //     } else {
  //       var time = active_timer;
  //     }
  //
  //     // $('input#worksheet-duration-op-'+id).val(tm);
  //     // $('input#timesend-'+id).val(parseInt($('#timer-'+id).data('time')));
  //     setTimeout(function(){
  //       new_elements['#worksheet-duration-op-'+id].val(tm);
  //       new_elements['#timesend-'+id].val(time);
  //       // $(document).filter('#worksheet-duration-op-'+id).val(tm);
  //       // $(document).filter('#timesend-'+id).val(time);
  //     },1000);
  //
  //     // var data = { operation: id, time: time, worksheet_duration: tm, protocol: $(this).data('protocol') };
  //     // $.ajax({
  //     //   url: route,
  //     //   method: 'post',
  //     //   data: data
  //     // });
  //   // } else {
  //   //   deactivateLoadingScreen();
  //   // }
  // });
  //
  // deactivateLoadingScreen();
  //
  // var tm = parseInt($('#timer').data('time'));
  // var ck = parseInt($('#clock').data('clock'));
  // clearInterval(timer);
  // timer = setInterval(function(){
  //   $.each(active_timers,function(k,v){
  //     active_timers[k]++;
  //     $('#timer-'+k).data('time',v);
  //     $("#timer-"+k).html(seconds_to_clock(v));
  //   });
  //   if(ck%15 == 0){
  //     var protocol = /collapse-(checks|\d*)/.exec($('.in').attr('id'));
  //     if(protocol != null){
  //       protocol = protocol[1]
  //     }
  //     if ($('.popup').length < 1 && protocol != 'checks'){
  //       $.ajax({
  //         url: '/worksheet/'+$('input[name=odl]').val()+'/update_operation_time',
  //         method: 'post',
  //         data: {protocol: protocol}
  //       });
  //     }
  //   }
  //   tm++;
  //   ck++;
  //   $('[data-additional]').data('additional',tm);
  //   $('input[name=time]').val(tm);
  //   $('#timer').html('Tempo: '+seconds_to_clock(tm));
  //   dt = new Date();
  //   day = dt.getDate() > 9 ? dt.getDate() : "0"+dt.getDate();
  //   month = (dt.getMonth()+1) > 9 ? (dt.getMonth()+1) : "0"+(dt.getMonth()+1);
  //   year = dt.getFullYear();
  //   $('#clock').html(day+'/'+month+'/'+year+' '+seconds_to_clock(ck));
  // },1000);

  deactivateLoadingScreen();
