%div{ style: 'height: 100vh, padding-top: 3em'}
  %ul.nav.nav-tabs
    -# %style
    -#   a:visited,a:link,a:hover,a:active{ color: black; font-style: normal; font-size: +2; }
    %li.active
      =link_to 'ODL officina aperti:', '#tab-opened-ws', data: { toggle: 'tab'}, class: 'no-loader'
    %li
      =link_to 'Lista ODL', '#tab-ws-list', data: { toggle: 'tab'}, class: 'no-loader'
    %li.active

.tab-content
  .tab-pane#tab-opened-ws.active
    .container-fluid
      .row
        .col-sm-6
          .scrollable-panel
            =render :partial => 'workshop/list', :locals => { :worksheets => Worksheet.open.order(:created_at) }
        .col-sm-6
          #worksheet_side
            =render :partial => 'workshop/worksheet_side'

  .tab-pane#tab-ws-list
    .container-fluid
      .row
        = form_tag(worksheet_filter_path, method: :post, remote: true, type: :script, class: 'preventCr') do |f|
          .col-sm-1
            Aperte
            = check_box_tag 'search[opened]', @search[:opened]
          .col-sm-1
            Chiuse
            = check_box_tag 'search[closed]', @search[:closed]
          .col-sm-2
            Targa
            = text_field_tag 'search[plate]', @search[:plate]
          .col-sm-2
            Nr.
            = text_field_tag 'search[number]', @search[:number]
          .col-sm-2
            Dal
            = date_field_tag 'search[date_since]', @search[:date_since]
          .col-sm-2
            Al
            = date_field_tag 'search[date_to]', @search[:date_to]
          .col-sm-2
            Manutentore
            = select_tag 'search[mechanic]', Hash.new
      .row
        .col-sm-1
        .col-sm-1
          %b='Nr. ordine'
        .col-sm-1
          %b='Targa'
        .col-sm-1
          %b='Aperto'
        .col-sm-1
          %b='Chiuso'
        .col-sm-1
          %b='Ore'
        .col-sm-1
        .col-sm-1
        .col-sm-1
        .col-sm-3

      .row
        .col-sm-12
          .scrollable-panel#worksheet_complete_list
            =render :partial => 'workshop/complete_list'
