%center{style: 'width: 87em'}
  %b='Modifica tipo veicolo: '+@vehicle_type.name
  %br
  %br

= form_tag(update_vehicle_type_path, method: :post, remote: true) do |f|
  .contaner
    .row.no-margin
      .col-sm-6
        %b='Tipo'
        = hidden_field_tag :id, @vehicle_type.id
        = text_field_tag 'vehicle_type[name]', @vehicle_type.name, class: 'form-control'
      .col-sm-6
        %b='Codice lavaggio standard'
        = select_tag 'vehicle_type[carwash_type]', options_for_select(Vehicle.carwash_codes,@vehicle_type.carwash_type), class: 'form-control'
    .row.no-margin
      .col-sm-12
        %br

    .row.no-margin
      .col-sm-1
        %b='Categorie possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_types/categories_list'
      .col-sm-3
        %b='Modelli possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_types/models_list'
      .col-sm-2
        %b='Informazioni possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_types/informations_list'
      .col-sm-3
        %b='Tipologie possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_types/typologies_list'
      .col-sm-3
        %b='Attrezzature possibili:'
        .scrollable-panel.container-fluid
          = render :partial => 'vehicle_types/equipment_list'
    .row.no-margins
      .col-sm-3
        %br
        %br
        %br
        = submit_tag 'Aggiorna', class: 'btn inline'
