.row
  .col-sm-12
    %b="Codici lavaggio"
    %br

.row
  .col-sm-1
    = 1
  .col-sm-10
    = 'Trattore standard'
.row
  .col-sm-1
    = 2
  .col-sm-10
    = 'Motrice scarrabile'
.row
  .col-sm-1
    = 3
  .col-sm-10
    = 'Autocarro cassone aperto (tre assi)'
.row
  .col-sm-1
    = 4
  .col-sm-10
    = 'Autocarro cassone chiuso (tre assi)'
.row
  .col-sm-1
    = 5
  .col-sm-10
    = 'Autocarro speciale'
.row
  .col-sm-1
    = 6
  .col-sm-10
    = 'Semirimorchio cassone aperto (con e senza sponde idrauliche)'
.row
  .col-sm-1
    = 7
  .col-sm-10
    = 'Semirimorchio cassone chiuso permanente (centinato - walking floor)'
.row
  .col-sm-1
    = 8
  .col-sm-10
    = 'Semirimorchio / rimorchio cisterna'
.row
  .col-sm-1
    = 9
  .col-sm-10
    = 'Rimorchio cassone aperto'
.row
  .col-sm-1
    = 10
  .col-sm-10
    = 'Rimorchio cassone chiuso permanente (centinato)'
.row
  .col-sm-1
    = 11
  .col-sm-10
    = 'Rimorchio trasporto mezzi / scarrabile'
.row
  .col-sm-1
    = 12
  .col-sm-10
    = 'Rimorchio / semirimorchio speciale'
.row
  .col-sm-1
    = 13
  .col-sm-10
    = 'Auto / Furgone'
