-# %p#notice= notice
.container-fluid
  .row
    .col-sm-7
      %h3 Tipi di veicoli
      .container-fluid
        .row
          .col-sm-4
            %b='Nome'
          .col-sm-5
            %b='Cod. lavaggio'
            -# = button_tag '?', class: 'no-loader', id: 'legend'
          .col-sm-3
        .row
          = form_tag(:vehicle_types, method: :post, format: :js, remote: true) do |f|
            .col-sm-4
              = text_field_tag 'vehicle_type[name]', '', placeholder: 'Nuovo tipo di mezzo', class: 'form-control'
            .col-sm-5
              -# = number_field_tag 'vehicle_type[carwash_type]', 0, class: 'form-control'
              = select_tag 'vehicle_type[carwash_type]', options_for_select(Vehicle.carwash_codes), class: 'form-control'
            .col-sm-3
              = submit_tag 'Crea', class: 'form-control popup-link'
      %br
      .scrollable-panel.container-fluid#vehicle_types
        %br
        = render :partial => 'vehicle_types/list'

    .col-sm-5
      %h3 Tipologie veicoli
      .container-fluid
        .row
          .col-sm-8
            %b='Nome'
          .col-sm-4
        .row
          = form_tag(:vehicle_typologies, method: :post, format: :js, remote: true) do |f|
            .col-sm-8
              = text_field_tag 'vehicle_typology[name]', '', placeholder: 'Nuova tipologia di mezzo', class: 'form-control'
            .col-sm-4
              = submit_tag 'Crea', class: 'form-control popup-link'
      %br
      .scrollable-panel.container-fluid#vehicle_typologies
        = render :partial => 'vehicle_typologies/list'

-# .popup#legend-popup
-#   .close
-#     = 'Chiudi'
-#   = render :partial => 'vehicle_types/legend'
:javascript

  // $('#legend-popup').hide();
  //
  // $('#legend').off('click');
  // $('#legend').on('click',function(){
  //   $('#legend-popup').toggle();
  // })
  //
  // $('.close').off('click');
  // $('.close').on('click', function(){
  //   $('#legend-popup').toggle();
  // })
