%p#notice= notice

%p
  %b Name:
  = @vehicle_model.name
%p
  %b References:
  = @vehicle_model.references

= link_to 'Edit', edit_vehicle_model_path(@vehicle_model)
\|
= link_to 'Back', vehicle_models_path
