
.row
  .col-sm-4
    %h4
      %b= "Personale presente, #{Time.now.strftime("%d/%m/%Y %H:%M:%S")}"
  =form_tag reload_building_presence_path, method: :post, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#building_presence_list'} do |f|
    -# =hidden_field_tag :person, @person.id
    =hidden_field_tag :tab, 'building_presence'
    .col-sm-1
      = submit_tag 'Ricarica', class: 'form-control submitter'
.row
  .col-sm-1
  .col-sm-3
    %b= "Nome"
  .col-sm-3
    %b= "Ultima timbratura"
  .col-sm-5
    %b= "Permessi"

.scrollable-panel#building_presence_list{style: 'height: 75vh;'}
  - Person.active_people.building_employees.order(surname: :asc).each do |p|
    .loadable{id: "bp#{p.id}", data: {person: p.id, day: Time.now.strftime("%Y-%m-%d"), area: 'bp', loading: 'true'}}

      -# = render partial: 'presence/building_records', locals: {p: p}

:javascript



  // function loadrow(element){
  //
  //   $(element).html("<b>In caricamento..</b>");
  //   if(reqs['bp'][$(element).attr('id')] != undefined){
  //     reqs['bp'][$(element).attr('id')].abort();
  //     delete reqs['bp'][$(element).attr('id')];
  //   }
  //   reqs['bp'][$(element).attr('id')] = $.ajax({
  //     url: '/presence/loadrows/'+$(element).data('area')+'/'+$(element).attr('id'),
  //     method: 'post',
  //     data: {person: $(element).data('person'), day: $(element).data('day')},
  //     complete: function(response){
  //       $(element).html(response.responseText);
  //       // setTimeout(function(){loadrow(element)},30000);
  //     }
  //   });
  //
  // }

  function loadrows(){

    $.each($('.loadable'),function(){
      var element = '#'+$(this).attr('id');

      if($(element).children('.row').length == 0 && $(element).data('area') == 'bp'){
        loadrow(element);
      }
    });
  }

  loadrows();
