
.row
  .col-sm-4
    %h4
      %b= "Personale presente, #{Time.now.strftime("%d/%m/%Y %H:%M:%S")}"
  =form_tag reload_building_presence_path, method: :post, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#building_presence_list'} do |f|
    -# =hidden_field_tag :person, @person.id
    =hidden_field_tag :tab, 'building_presence'
    .col-sm-1
      = submit_tag 'Ricarica', class: 'form-control submitter'
.row
  .col-sm-1
  .col-sm-3
    %b= "Nome"
  .col-sm-3
    %b= "Ultima timbratura"
  .col-sm-5
    %b= "Permessi"

.scrollable-panel#building_presence_list{style: 'height: 75vh;'}
  - Person.active_people.building_employees.order(surname: :asc).each do |p|
    %div{id: "bp#{p.id}"}
      = render partial: 'presence/building_records', locals: {p: p}
