.row
  .col-sm-6
    %h4="Calendario assenze"
  = form_tag(vacation_calendar_path,remote: true,method: :get) do |f|
    .col-sm-2
      = date_field_tag :from, @from.strftime('%Y-%m-%d'), class: 'form-control'
    .col-sm-2
      = date_field_tag :to, @to.strftime('%Y-%m-%d'), class: 'form-control'
    .col-sm-2
      = hidden_field_tag :zoom, 1
      = hidden_field_tag :offset_x, 0
      = hidden_field_tag :offset_y, 0
      = submit_tag 'Ricarica', class: 'form-control'
.row
  .col-sm-2
  .col-sm-10.moving-board-connected-container
    .moving-board-connected{data: {id: 'calendar-board', direction: 'horizontal'}, style: 'white-space: nowrap'}
      - date = @from
      %table{style: 'border-collapse: collapse;'}
        %tr
          - while date <= @to
            - case date.strftime('%u')
              - when '7' then
                - wdc = 'background-color: f5f5ff;'
              - when '6' then
                - wdc = 'background-color: #fafaff;'
              - else
                - wdc = ''

            %td.selectable-column{style: "#{wdc} border: 1px solid #ddd; border-top: 0px; padding-left: .3em; padding-right: .3em;"}
              = date.strftime("%d/%m")
            - date += 1.days
.row
  .col-sm-2.moving-board-connected-container
    .moving-board-connected{data: {id: 'calendar-board', direction: 'vertical'}}
      %table{style: 'border-collapse: collapse; white-space: nowrap;'}
        - @people_leaves.each do |group,types|
          %tr{style: 'height: 1.30em;'}
            %td{style: 'border: 1px solid #ddd'}
              %b= group
          - types.each do |k,p|
            %tr{style: 'height: 1.30em;'}
              %td{style: 'border: 1px solid #ddd'}= k
  .col-sm-10.moving-board-container
    .moving-board#calendar-board{data: {days: ((@to-@from)/3600/24).round, width: 3, zoom: @zoom}}
      %table{style: 'border-collapse: collapse;'}
        - @people_leaves.each do |group,types|
          %tr
            - date = @from
            - while date <= @to
              - case date.strftime('%u')
                - when '7' then
                  - wdc = 'background-color: #e2e2ee;'
                - when '6' then
                  - wdc = 'background-color: #e9e9ee;'
                - else
                  - wdc = 'background-color: #ddd;'
              %td.selectable-column{style: "#{wdc} border: 1px solid #ddd; border-top: 1px; padding-left: .3em; padding-right: .3em; margin: 0px; height: 1.30em;", data: {alt: "#{group} - #{date.strftime("%d/%m")}"}}
                %span{style: 'opacity: 0;'}
                  = date.strftime("%d/%m")
              - date += 1.days
          - types.each do |k,p|
            - date = @from
            %tr
              - while date <= @to
                - levs = p.select{|gl| date.strftime('%Y%m%d') >= gl.from.strftime('%Y%m%d') && date.strftime('%Y%m%d') <= gl.to.strftime('%Y%m%d')}
                - case date.strftime('%u')
                  - when '7' then
                    - wdc = 'background-color: #f5f5ff;'
                  - when '6' then
                    - wdc = 'background-color: #fafaff;'
                  - else
                    - wdc = ''

                - if levs.empty?
                  %td.selectable-column{style: "#{wdc} border: 1px solid #ddd; border-top: 1px; padding-left: .3em; padding-right: .3em; margin: 0px; height: 1.30em;", data: {alt: "#{k} - #{date.strftime("%d/%m")}"}}
                    %span{style: 'opacity: 0;'}
                      = date.strftime("%d/%m")
                - else
                  - label = levs.map{ |gl| "#{(current_user.admin? || current_user.has_role?('calendario assenze') || current_user.has_role?('visione motivi assenze')) ? gl.leave_code.description+' ' : ''}#{gl.complete_duration_label}" }.join('<br />')
                  %td.selectable-column{style: "#{wdc} border: 1px solid #ddd; border-top: 1px; padding-left: 0px; padding-right: 0px; margin: 0px; height: 1.30em;", data: {alt: "#{date.strftime("%d/%m")} #{k}: #{label}", alt_alignment: 'right' }}
                    %span{style: 'opacity: 0; position: absolute'}
                      = date.strftime("%d/%m")
                    %hr.spacer{style: "border: 3px solid #{levs.last.color}; margin: 0px;"}
                - date += 1.days
