- presence_records = PresenceRecord.where(date: day, person: person)
- ws = WorkingSchedule.find_by(weekday: day.strftime("%u").to_i-1, person: @person)
- saturday = day.strftime("%u").to_i-1 == 5 ? true : false
- actual_total = 0
- calculated_total = 0

.row.colored
  -# .infobox-button.no-loader{ data: { method: :post, target: info_timestamps_path, name: "infobox_timestamps_#{day.strftime("%y%m%d")}_#{@person.id}", data: {date: day, person: @person.id}.to_json }}
  .col-sm-1{style: 'padding-right: 0px;'}
    = "#{PresenceRecord.weekdays.key(day.strftime("%w").to_i)} #{day.strftime("%d/%m/%y")}"
    .infobox-button.form-control.no-loader{data: { method: :post, target: info_timestamps_path, name: "infobox_timestamps_#{day.strftime("%y%m%d")}_#{@person.id}", data: {date: day, person: @person.id}.to_json }}
      Listato
  .col-sm-8{style: 'padding-right: 0px; padding-left: 0px;'}
    - presence_records.each do |r|
      - unless r.break
        - actual_total += r.actual_duration
      - calculated_total = r.set_day_time
      .col-sm-3
        .row
          .col-sm-12
            %b= r.break ? 'Pausa' : 'Lavoro'
            %b= " -> #{r.duration_label}"
            = " (#{r.duration_label(false)})"
            - if r.anomaly.nil?
              %br
              %br
            - else
              = r.anomaly
        .row
          .col-sm-6
            - unless r.start_ts.nil?
              =form_tag delete_timestamp_path, method: :delete, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#presence_list'} do |f|
                = hidden_field_tag :person, @person.id
                = hidden_field_tag :month, @month-1
                = hidden_field_tag :year, @year
                = hidden_field_tag :day, @day
                = hidden_field_tag :id, r.start_ts.id
                = hidden_field_tag :tab, 'presence'
                = submit_tag "#{r.start_ts.added ? '*' : ''}#{r.start_ts.time.strftime("%H:%M:%S")} X", class: 'small-btn no-infobox-link', data: {confirmation: "Rimouvere la timbratura delle #{r.start_ts.time.strftime("%H:%M:%S")} di #{@person.list_name}?"}
            = r.calculated_start.time.strftime("%H:%M:%S")
          .col-sm-6
            - unless r.end_ts.nil?
              =form_tag delete_timestamp_path, method: :delete, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#presence_list'} do |f|
                = hidden_field_tag :person, @person.id
                = hidden_field_tag :month, @month-1
                = hidden_field_tag :year, @year
                = hidden_field_tag :day, @day
                = hidden_field_tag :id, r.end_ts.id
                = hidden_field_tag :tab, 'presence'
                = submit_tag "#{r.end_ts.added ? '*' : ''}#{r.end_ts.time.strftime("%H:%M:%S")} X",class: 'small-btn no-infobox-link', data: {confirmation: "Rimouvere la timbratura delle #{r.end_ts.time.strftime("%H:%M:%S")} di #{@person.list_name}?"}
            = r.calculated_end.time.strftime("%H:%M:%S") unless r.calculated_end.nil?
  .col-sm-1
    .row
      .col-sm-12
        %b='Totali'
    .row
      .col-sm-12{style: 'white-space: nowrap'}
        -# - calculated_total = PresenceRecord.round_interval(actual_total)
        -if ws.nil?
          - afterhours = actual_total
          - calculated_afterhours = calculated_total
        -else
          - afterhours = actual_total - (ws.expected_hours * 3600).to_i
          - calculated_afterhours = ws.agreement ? calculated_total - (ws.expected_hours * 3600).to_i : 0
        - if afterhours < 0
          - afterhours = 0
        - if calculated_afterhours < 0
          - calculated_afterhours = 0
        = "#{actual_total/3600}:#{((actual_total%3600)/60).to_s.rjust(2,'0')}:#{(((actual_total%3600)%60)).to_s.rjust(2,'0')} (#{afterhours > 0 ? '+' : ''}#{(afterhours/3600).to_s.rjust(1,'0')}:#{((afterhours%3600)/60).to_s.rjust(2,'0')})"

        - unless saturday
          - @total_calculated_hours += calculated_total
          - @total_actual_hours += actual_total
          - if ws.nil?
            - @total_calculated_afterhours += calculated_total
            - @total_actual_afterhours += actual_total
          - elsif calculated_total > 0
            - @total_calculated_afterhours += calculated_afterhours
            - @total_actual_afterhours += afterhours
            - @unpayed_saturdays = ws.months_unpaid_days if saturday

        - if calculated_total > 0 && saturday
          - @total_saturdays += 1
          - if ws.nil? || ws.months_unpaid_days < @total_saturdays
            - @total_calculated_saturday_hours += calculated_total
            - @total_actual_saturday_hours += actual_total

        %br
        = "#{ws.duration_agreement_label}/#{ws.duration_contract_label} (#{afterhours > 0 ? '+' : ''}#{(calculated_afterhours/3600).to_s.rjust(1,'0')}:#{((calculated_afterhours%3600)/60).to_s.rjust(2,'0')})" unless ws.nil?
        =form_tag change_presence_time_path, method: :post, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#presence_list'} do |f|
          = hidden_field_tag :person, @person.id
          = hidden_field_tag :month, @month-1
          = hidden_field_tag :year, @year
          = hidden_field_tag :day, day
          = hidden_field_tag :date, day.strftime('%Y-%m-%d')
          = hidden_field_tag :tab, 'presence'
          = time_field_tag :set_total, "#{(calculated_total/3600).to_s.rjust(2,'0')}:#{((calculated_total%3600)/60).to_s.rjust(2,'0')}", class: 'no-infobox-link'
          = submit_tag '>', class: 'no-infobox-link'
        -# %b="#{calculated_total/3600}:#{((calculated_total%3600)/60).to_s.rjust(2,'0')}:#{(((calculated_total%3600)%60)).to_s.rjust(2,'0')}"
  .col-sm-1
    - GrantedLeave.where(person: @person).select{|gl| day.strftime("%Y-%m-%d") >= gl.from.strftime("%Y-%m-%d") && day.strftime("%Y-%m-%d") <= gl.to.strftime("%Y-%m-%d") }.each do |gl|
      =form_tag delete_leave_path, method: :delete, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#presence_list'} do |f|
        = hidden_field_tag :person, @person.id
        = hidden_field_tag :month, @month-1
        = hidden_field_tag :year, @year
        = hidden_field_tag :day, day
        = hidden_field_tag :date, day.strftime('%Y-%m-%d')
        = hidden_field_tag :id, gl.id
        = hidden_field_tag :tab, 'presence'
        = submit_tag "#{gl.leave_code.code} (#{gl.duration_label(day)}) X", class: 'small-btn no-infobox-link', data: {confirmation: "Rimouvere il codice #{gl.leave_code.code} di #{@person.list_name}?"}
  .col-sm-1
    %button{ class: "small-btn create_popup no-infobox-link", id: "add_timestamp", data: { popup_id: 'add_timestamp', route: add_timestamp_path, html: (render partial: "presence/add_timestamp_popup", locals: {person: @person, date: day }) } }
      Agg. timbratura
    %button{ class: 'small-btn create_popup no-infobox-link', id: "add_leave", data: { popup_id: 'add_leave', route: add_leave_path, html: (render partial: 'presence/add_leave_code_popup', locals: {person: @person, date: day }) } }
      Agg. codice
    =form_tag recalculate_day_path, method: :post, remote: true, class: 'remember_scroll_form', data: {scroll_element: '#presence_list'} do |f|
      = hidden_field_tag :person, person.id
      = hidden_field_tag :month, @month-1
      = hidden_field_tag :year, @year
      = hidden_field_tag :day, day
      = hidden_field_tag :date, day
      = hidden_field_tag :tab, 'presence'
      = submit_tag "Ricalcola", class: 'small-btn no-infobox-link', data: {confirmation: "Ricalcolare il giorno #{day.strftime("%d/%m/%Y")} per #{person.list_name}?"}
