-# $("#presence").html("#{escape_javascript(render partial: '/presence/presence', locals: {day: Date.strptime("#{@year}-#{@month}-#{@day.strftime("%d")}","%Y-%m-%d"), person: @person}  )} ");
-# $("#presence_day").html("#{escape_javascript(render partial: '/presence/presence_day', locals: {day: @day, person: @person}  )} ");
-# $("#building_presence").html("#{escape_javascript(render partial: 'presence/building_presence', locals: {day: @day, person: @person}  )} ");
$("#schedules").html("#{escape_javascript(render partial: 'presence/schedules', locals: {person: @person}  )} ");
$('.popup').remove();
$('.infobox').remove();
calculateTotals();
deactivateLoadingScreen();
