#presence
  - @total_calculated_hours = 0
  - @total_actual_hours = 0
  - @total_calculated_afterhours = 0
  - @total_actual_afterhours = 0
  - @total_saturdays = 0
  - @unpayed_saturdays = 0
  - @total_calculated_saturday_hours = 0
  - @total_actual_saturday_hours = 0
  .row
    =form_tag reload_presence_path, method: :post, remote: true do |f|
      -# =hidden_field_tag :person, @person.id
      =hidden_field_tag :tab, 'presence'
      .col-sm-2
        %h3="Presenze: "#{@person.list_name}"
      .col-sm-2
        %br
        =select_tag :person, options_for_select(Person.employees.order(surname: :asc).collect{|p| [p.list_name,p.id]}, @person.id), include_blank: 'Selezionare dipendente', class: 'form-control submitting-select', id: 'person-select', data: {target: manage_presence_post_path, method: :post, data:{person: @person.id, tab: @tab.nil? ? 'presence' : @tab}}
      .col-sm-2
        %br
        = select_tag :month, options_for_select(PresenceTimestamp.months, @month-1), class: 'form-control submitting-select'
      .col-sm-2
        %br
        = select_tag :year, options_for_select(PresenceTimestamp.years, @year), class: 'form-control submitting-select'
      .col-sm-1
        %br
        = submit_tag 'Ricarica', class: 'form-control submitter'
    .col-sm-2{style: 'margin_top: 1em;'}
      %button{ class: 'form-control create_popup', id: "add_leave", data: { popup_id: 'add_leave', route: add_leave_path, html: (render partial: 'presence/add_long_leave_code_popup', locals: {person: @person }) } }
        Ferie e malattia
  .scrollable-panel#presence_list{style: 'height: 75vh;'}
    - for day in 1..Time.days_in_month(@month,@year)
      = render partial: 'presence/days_records', locals: {day: Date.strptime("#{@year}-#{@month}-#{day}","%Y-%m-%d")}
  .row
    .col-sm-2
      Pulsante assenze
    .col-sm-2
      Pulsante csv
    .col-sm-2
      = "Tot. ore: #{@total_calculated_hours/3600}:#{((@total_calculated_hours%3600)/60).to_s.rjust(2,'0')} (#{@total_actual_hours/3600}:#{((@total_actual_hours%3600)/60).to_s.rjust(2,'0')})"
    .col-sm-2
      = "Tot. straordinari: #{@total_calculated_afterhours/3600}:#{((@total_calculated_afterhours%3600)/60).to_s.rjust(2,'0')} (#{@total_actual_afterhours/3600}:#{((@total_actual_afterhours%3600)/60).to_s.rjust(2,'0')})"
    .col-sm-2
      = "Tot. sabati: #{@total_saturdays - @unpayed_saturdays} (#{@total_saturdays})"
    .col-sm-2
      = "Tot. ore sabati: #{@total_calculated_saturday_hours/3600}:#{((@total_calculated_saturday_hours%3600)/60).to_s.rjust(2,'0')} (#{@total_actual_saturday_hours/3600}:#{((@total_actual_saturday_hours%3600)/60).to_s.rjust(2,'0')})"
