%div{style: 'padding: .5em'}
  %h3="Orari: "#{@person.list_name}"
  =form_tag reload_presence_path, method: :post, remote: true do |f|
    =select_tag :person, options_for_select(Person.active_people.order(surname: :asc).collect{|p| [p.list_name,p.id]}, @person.id), include_blank: 'Selezionare dipendente', class: 'form-control submitting-select', id: 'person-select', data: {target: manage_presence_post_path, method: :post, data:{person: @person.id, tab: @tab.nil? ? 'presence' : @tab}}
    = hidden_field_tag :tab, 'schedules'
  .row{style: 'background-color: #ff8; padding: 0.3em'}
    =form_tag add_working_schedule_path, method: :post, remote: true do |f|
      = hidden_field_tag 'person', @person.id
      = hidden_field_tag :tab, 'schedules'
      .col-sm-2
        =select_tag 'working_schedule[weekday]', options_for_select(WorkingSchedule.weekdays), include_blank: 'Selezionare giorno', class: 'form-control'
      .col-sm-2
        .row
          .col-sm-7
            Acorrdo dalle
          .col-sm-5
            = time_field 'working_schedule', 'agreement_from', value: '08:00'
        .row
          .col-sm-7
            Accordo alle
          .col-sm-5
            = time_field 'working_schedule', 'agreement_to', value: '18:00'
      .col-sm-2
        .row
          .col-sm-7
            Contratto dalle
          .col-sm-5
            = time_field 'working_schedule', 'contract_from', value: '08:00'
        .row
          .col-sm-7
            Contratto alle
          .col-sm-5
            = time_field 'working_schedule', 'contract_to', value: '18:00'
      .col-sm-2
        .row
          .col-sm-7
            Ore previste
          .col-sm-5
            = number_field_tag 'working_schedule[expected_hours]', 9,  min: 0, max: 24, step: 0.5, width: 2, style: 'width: 3.5em;'
        .row
          .col-sm-7
            Flessibilità
          .col-sm-5
            =number_field_tag 'working_schedule[flexibility]', 0,  min: 0, max: 15, step: 5, width: 2, style: 'width: 3.5em;'
      .col-sm-3
        .row
          .col-sm-7
            Minuti pausa
          .col-sm-5
            =number_field_tag 'working_schedule[break]', 60, style: 'width: 3.5em'
        .row
          .col-sm-7
            gg/mese non pagati
          .col-sm-5
            =number_field_tag 'working_schedule[months_unpaid_days]', 0, style: 'width: 3.5em'
      .col-sm-1
        =submit_tag 'Inserisci', class: 'form-control'
  %br
  .row
    .col-sm-2
      %b='Giorno'
    .col-sm-2
      %b='Orario accordo'
    .col-sm-2
      %b='Orario contratto'
    .col-sm-2
      %b='Dettagli'
    .col-sm-1
  .scrollable-panel
    - @person.working_schedules.order(weekday: :asc).each do |ws|
      .row.colored{style: '; padding: 0.3em'}
        =form_tag edit_working_schedule_path(ws.id), method: :post, remote: true do |f|
          = hidden_field_tag :tab, 'schedules'
          .col-sm-2
            =select_tag 'working_schedule[weekday]', options_for_select(WorkingSchedule.weekdays, selected:ws.weekday), class: 'form-control'
          .col-sm-2
            .row
              .col-sm-7
                Acorrdo dalle
              .col-sm-5
                = time_field 'working_schedule', 'agreement_from', value: (ws.agreement_from.nil?? nil : (ws.agreement_from+2.hours).strftime('%H:%M'))
            .row
              .col-sm-7
                Accordo alle
              .col-sm-5
                = time_field 'working_schedule', 'agreement_to', value: (ws.agreement_to.nil?? nil : (ws.agreement_to+2.hours).strftime('%H:%M'))
          .col-sm-2
            .row
              .col-sm-7
                Contratto dalle
              .col-sm-5
                = time_field 'working_schedule', 'contract_from', value: (ws.contract_from.nil?? nil : (ws.contract_from+2.hours).strftime('%H:%M'))
            .row
              .col-sm-7
                Contratto alle
              .col-sm-5
                = time_field 'working_schedule', 'contract_to', value: (ws.contract_to.nil?? nil : (ws.contract_to+2.hours).strftime('%H:%M'))
          .col-sm-2
            .row
              .col-sm-7
                Ore previste
              .col-sm-5
                = number_field_tag 'working_schedule[expected_hours]', ws.expected_hours,  min: 0, max: 24, step: 0.5, width: 2, style: 'width: 3.5em;'
            .row
              .col-sm-7
                Flessibilità
              .col-sm-5
                =number_field_tag 'working_schedule[flexibility]', ws.flexibility,  min: 0, max: 15, step: 5, width: 2, style: 'width: 3.5em'
          .col-sm-3
            .row
              .col-sm-7
                Minuti pausa
              .col-sm-5
                =number_field_tag 'working_schedule[break]', ws.break, style: 'width: 3.5em'
            .row
              .col-sm-7
                gg/mese non pagati
              .col-sm-5
                =number_field_tag 'working_schedule[months_unpaid_days]', ws.months_unpaid_days, style: 'width: 3.5em'

          .col-sm-1
            .row
              .col-sm-12
                =submit_tag 'Modifica', class: 'form-control', data: {confirmation: "Modifcare l'orario del #{WorkingSchedule.weekdays.key(ws.weekday)} per #{@person.complete_name}?"}
        .col-sm-1
          .row
            .col-sm-12
              =form_tag delete_working_schedule_path(ws.id), method: :delete, remote: true do |f|
                = hidden_field_tag :tab, 'schedules'
                =submit_tag 'Elimina', class: 'form-control', data: {confirmation: "Eliminare l'orario del #{WorkingSchedule.weekdays.key(ws.weekday)} per #{@person.complete_name}?"}
